<div class="text-center m-b">
  <h3 class="m-b-0" {{dc}}>{{header1}}</h3>
  <small>{{sub1}}</small>
</div>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    <div class="demo-form-wrapper">
      <form class="form">
        <div class="form-group">
          <label for="email-1">Email</label>
          <input id="email-1" class="form-control" type="email">
        </div>
        <div class="form-group">
          <label for="password-1">Password</label>
          <input id="password-1" class="form-control" type="password">
        </div>
        <div class="form-group">
          <label class="custom-control custom-control-primary custom-checkbox">
            <input class="custom-control-input" type="checkbox" checked="">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-label">Keep me signed in</span>
          </label>
          <span> · </span>
          <a href="password.html">Forgot password?</a>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">Sign in</button>
        </div>
      </form>
    </div>
  </div>
</div>
