<div class="text-center m-b">
  <h3 class="m-b-0" {{dc}}>{{header3}}</h3>
  <small>{{sub3}}</small>
</div>
<div class="row">
  <div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-4">
    <div class="demo-form-wrapper">
      <form class="form form-inline">
        <div class="form-group">
          <div class="input-with-icon">
            <input class="form-control" type="email" placeholder="Email">
            <div class="fa fa-envelope input-icon"></div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-with-icon">
            <input class="form-control" type="password" placeholder="Password">
            <div class="fa fa-lock input-icon"></div>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Sign in</button>
      </form>
    </div>
  </div>
</div>
