<div class="demo-map">
  <div class="row">
    <div class="col-md-6 col-md-push-6">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h3 {{dc}}>Map Types</h3>
          <p>You can define many map types from external map services, like OpenStreetMap.</p>
          <p>You must define a function called <code>getTileUrl</code>, which returns a tile URL according the coordenates in the map.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-md-pull-6">
      <div id="demo-map-7"></div>
    </div>
  </div>
</div>
