<div class="demo-map">
  <div class="row">
    <div class="col-md-6 col-md-push-6">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h3 {{dc}}>Routes (step by step)</h3>
          <p>
            <strong>From:</strong> Golden Gate Park
            <strong>To:</strong> Golden Gate Bridge</p>
          <p>Same as <code>drawRoute</code>, you must define an
            <strong>origin</strong>,
            <strong>destination</strong> and <code>travelMode</code>. Also, you must define the function that GMaps will call every step in the route.</p>
          <button id="demo-map-6-btn" class="btn btn-primary btn-sm m-b">Start travel</button>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-md-pull-6">
      <div id="demo-map-6"></div>
    </div>
  </div>
</div>
