{% extends 'layout.njk' %}
{% block content %}
<div class="layout-content">
  <div class="layout-content-body">
    <div class="title-bar">
      <h1 class="title-bar-title">
        <span class="d-ib">Blank Page</span>
        <span class="d-ib">
          <a class="title-bar-shortcut" href="#" title="Add to shortcut list" data-container="body" data-toggle-text="Remove from shortcut list" data-trigger="hover" data-placement="right" data-toggle="tooltip">
            <span class="sr-only">Add to shortcut list</span>
          </a>
        </span>
      </h1>
    </div>
  </div>
</div>
{% endblock %}
