{% extends 'layout.njk' %}
{% block content %}
<div class="layout-content">
<div class="layout-content-body">
{% include "admin-includes/static-tables/_title-bar.njk" %}
{% include "admin-includes/buttons/_default-type.njk" %}
{% include "admin-includes/buttons/_sizes.njk" %}
{% include "admin-includes/buttons/_labeled.njk" %}
{% include "admin-includes/buttons/_group-dropdown.njk" %}
{% include "admin-includes/buttons/_others.njk" %}
</div>
</div>
{% endblock %}
