{% extends 'layout.njk' %}
{% block content %}
<div class="layout-content">
<div class="layout-content-body">
{% include "admin-includes/static-tables/_title-bar.njk" %}
{% include "admin-includes/form-layouts/_default-form.njk" %}
{% include "admin-includes/form-layouts/_horizontal-form.njk" %}
{% include "admin-includes/form-layouts/_inline-form.njk" %}
</div>
</div>
{% endblock %}
