{% extends 'layout.njk' %}
{% block content %}
<div class="layout-content">
<div class="layout-content-body">
{% include "admin-includes/static-tables/_title-bar.njk" %}
{% include "admin-includes/grid-system/_columns.njk" %}
{% include "admin-includes/grid-system/_gutters.njk" %}
{% include "admin-includes/grid-system/_offset.njk" %}
{% include "admin-includes/grid-system/_nesting.njk" %}  
</div>
</div>
{% endblock %}
