{% extends 'layout.njk' %}
{% block content %}
<div class="layout-content" style="height: 1200px">
<div class="layout-content-body">
{% include "admin-includes/static-tables/_title-bar.njk" %}
</div>
</div>
{% endblock %}
