{% extends 'layout.njk' %}
{% block content %}
<div class="layout-content">
  <div class="layout-content-body">
{% include "admin-includes/static-tables/_title-bar.njk" %}
{% include "admin-includes/pickers/_date.njk" %}
{% include "admin-includes/pickers/_time.njk" %}
  </div>
</div>
{% endblock %}
{% block scripts %}
<script>
$(document).ready(function(){
  $("small").addClass("hvr-buzz");
  $("h5").addClass("hvr-pop");
});
</script>
{% endblock %}
