{% extends 'layout.njk' %}
{% block content %}
<div class="layout-content">
<div class="layout-content-body">
{% include "admin-includes/static-tables/_title-bar.njk" %}
{% include "admin-includes/static-tables/_static-table.njk" %}
{% include "admin-includes/static-tables/_static-table-report.njk" %}
{% include "admin-includes/static-tables/_advanced-table-header.njk" %}
</div>
</div>
{% endblock %}
