{% extends 'layout.njk' %}
{% block content %}
<div class="layout-content">
<div class="layout-content-body">
{% include "admin-includes/static-tables/_title-bar.njk" %}
{% include "admin-includes/typography/_headers.njk" %}
{% include "admin-includes/typography/_text-type.njk" %}
{% include "admin-includes/typography/_quote.njk" %}
{% include "admin-includes/typography/_quote-img.njk" %}
{% include "admin-includes/typography/_quote-subject.njk" %}
{% include "admin-includes/typography/_quote-well.njk" %}
</div>
</div>
{% endblock %}
