{% extends 'layout.njk' %}
{% block content %}
<div class="layout-content">
<div class="layout-content-body">
{% include "admin-includes/static-tables/_title-bar.njk" %}
{% include "admin-includes/vector-maps/_world-health.njk" %}
{% include "admin-includes/vector-maps/_elections.njk" %}

</div>
</div>
{% endblock %}
