<div class="md-form-group md-label-floating">
  <textarea class="md-form-control" rows="3" name="biography" spellcheck="false" required></textarea>
  <label class="md-control-label">About</label>
  <small class="md-help-block">{{label}}</small>
</div>
