<label class="custom-control custom-control-primary custom-radio">
  <input class="custom-control-input" type="radio" value="all" name="tagging" required>
  <span class="custom-control-indicator"></span>
  <small class="custom-control-label">{{label}}</small>
</label>
