<div class="md-form-group md-label-floating">
  <input class="md-form-control" type="email" name="email" spellcheck="false" autocomplete="off" required>
  <label class="md-control-label">Email</label>
  <small class="md-help-block">{{label}}</small>
</div>
