<div class="md-form-group md-label-floating">
  <input class="md-form-control" type="text" name="name" spellcheck="false" required>
  <label class="md-control-label">Name</label>
  <small class="md-help-block">{{label}}</small>
</div>
