<div class="col-xs-12 col-md-6">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">10,000 Signups</h4>
    </div>
    <div class="card-body">
      <div class="card-chart">
        <canvas data-chart="bar" data-animation="false" data-labels='["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]' data-values='[{"label": "This week", "backgroundColor": "#00aced", "borderColor": "#00aced", "data": [3089, 2132, 1854, 2326, 3274, 3679, 3075]}, {"label": "Last week", "backgroundColor": "#75ac00", "borderColor": "#75ac00", "data": [983, 2232, 3057, 2238, 1613, 2194, 3874]}]' data-tooltips='{"mode": "label"}' data-hide='["gridLinesX", "legend"]' height="150"></canvas>
      </div>
    </div>
  </div>
</div>
