<div class="col-xs-12 col-md-6">
  <div class="panel panel-body text-center" data-toggle="match-height">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <canvas data-chart="doughnut" data-labels='["Returning Visitor", "New Visitor"]' data-values='[{"backgroundColor": ["#058dc7", "#50b432"], "borderColor": "#292929", "data": [132480, 64033]}]' data-hide='["scalesX", "scalesY", "legend"]' data-cutout-percentage="80" height="150" width="150"></canvas>
      </div>
    </div>
    <h6 class="m-b-0">
      <span class="nowrap">
        <span class="p-x">
          <span class="fa fa-square fa-fw" style="color: #50b432"></span>
          New Visitor
        </span>
        <span class="p-x">
          <span class="fa fa-square fa-fw" style="color: #058dc7"></span>
          Returning Visitor
        </span>
      </span>
    </h6>
  </div>
</div>
