<div class="col-xs-12 col-md-6">
  <div class="panel panel-body" data-toggle="match-height">
    <h6 class="text-center m-t-0">
      Overview of Audience - Age
    </h6>
    <div class="fh">
      <div class="fh-m">
        <div class="row">
          <div class="col-xs-2">
            <ul class="list-unstyled">
              <li class="m-b">
                <small class="nowrap">
                  <span class="fa fa-square fa-fw" style="color: #f7464a"></span>
                  18-24
                </small>
              </li>
              <li class="m-b">
                <small class="nowrap">
                  <span class="fa fa-square fa-fw" style="color: #46bfbd"></span>
                  25-34
                </small>
              </li>
              <li class="m-b">
                <small class="nowrap">
                  <span class="fa fa-square fa-fw" style="color: #fdb45c"></span>
                  35-44
                </small>
              </li>
              <li class="m-b">
                <small class="nowrap">
                  <span class="fa fa-square fa-fw" style="color: #949fb1"></span>
                  45-54
                </small>
              </li>
              <li class="m-b">
                <small class="nowrap">
                  <span class="fa fa-square fa-fw" style="color: #795548"></span>
                  55-64
                </small>
              </li>
              <li class="m-b">
                <small class="nowrap">
                  <span class="fa fa-square fa-fw" style="color: #4d5360"></span>
                  65+
                </small>
              </li>
            </ul>
          </div>
          <div class="col-xs-8">
            <canvas data-chart="polar-area" data-labels='["18-24", "25-34", "35-44", "45-54", "55-64", "65+"]' data-values='[{"backgroundColor": ["#f7464a", "#46bfbd", "#fdb45c", "#949fb1", "#795548", "#4d5360"], "data": [54041, 65832, 30460, 24564, 10808, 10808]}]' data-scale='{"ticks": {"beginAtZero": "true"}}' data-hide='["scalesX", "scalesY", "legend"]' height="300" width="300"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
