<div class="col-xs-12 col-md-6">
  <div class="panel panel-body" data-toggle="match-height">
    <h6 class="text-center m-t-0">
      Overview of Audience - 2016 VS 2015
    </h6>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <canvas data-chart="radar" data-labels='["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]' data-values='[{"backgroundColor": "rgba(217, 24, 75, 0.4)", "label": "2015", "data": [47509, 52287, 66596, 54752, 56147, 46220, 40035, 43951, 49500, 57867, 60139, 54569]}, {"backgroundColor": "rgba(3, 89, 165, 0.4)", "label": "2016", "data": [39663, 50687, 56529, 49634, 46115, 41003, 31719, 37914, 40619, 55021, 57304, 44735]}]' data-legend='{"position": "bottom"}' data-scale='{"ticks": {"beginAtZero": "true"}}' data-hide='["scalesX", "scalesY"]' height="300" width="300"></canvas>
      </div>
    </div>
  </div>
</div>
