<div class="col-xs-12 col-md-6">
  <div class="panel panel-body text-center" data-toggle="match-height">
    <canvas data-chart="line" data-labels='["May", "Jun", "Jul", "Aug"]' data-values='[{"backgroundColor": "rgba(80, 180, 50, 0.4)", "borderColor": "#50b432", "borderWidth": 2, "pointBackgroundColor": "#50b432", "pointRadius": 1, "label": "Visitors", "data": [60285, 50687, 56529, 49634]}]' data-hide='["gridLinesX", "legend"]' height="150" width="300"></canvas>
    <h6 class="m-b-0" {{dc}}>demo 3</h6>
  </div>
</div>
