<div class="col-xs-12 col-md-6">
  <div class="panel panel-body" data-toggle="match-height">
    <h6 class="text-center m-t-0">Browsers used by visitors</h6>
    <div class="row">
      <div class="col-xs-3">
        <ul class="list-unstyled">
          <li class="m-b">
            <small class="nowrap">
              <span class="fa fa-square fa-fw" style="color: #80bf41"></span>
              Chrome
            </small>
          </li>
          <li class="m-b">
            <small class="nowrap">
              <span class="fa fa-square fa-fw" style="color: #f2d548"></span>
              Firefox
            </small>
          </li>
          <li class="m-b">
            <small class="nowrap">
              <span class="fa fa-square fa-fw" style="color: #0359a5"></span>
              IE
            </small>
          </li>
          <li class="m-b">
            <small class="nowrap">
              <span class="fa fa-square fa-fw" style="color: #e86203"></span>
              Safari
            </small>
          </li>
          <li class="m-b">
            <small class="nowrap">
              <span class="fa fa-square fa-fw" style="color: #d9184b"></span>
              Opera
            </small>
          </li>
          <li class="m-b">
            <small class="nowrap">
              <span class="fa fa-square fa-fw" style="color: #ededed"></span>
              Others
            </small>
          </li>
        </ul>
      </div>
      <div class="col-xs-6">
        <canvas data-chart="pie" data-labels='["Chrome", "Firefox", "IE", "Safari", "Opera", "Others"]' data-values='[{"backgroundColor": ["#80bf41", "#f2d548", "#0359a5", "#e86203", "#d9184b", "#ededed"], "borderColor": "#292929", "data": [137363, 34979, 11987, 7074, 2555, 2555]}]' data-hide='["scalesX", "scalesY", "legend"]' height="300" width="300"></canvas>
      </div>
    </div>
  </div>
</div>
