<div class="col-xs-12 col-md-6">
  <div class="panel panel-body text-center" data-toggle="match-height">
    <canvas data-chart="horizontal-bar" data-labels='["May", "Jun", "Jul", "Aug"]' data-values='[{"backgroundColor": "#50b432", "label": "New Visitor", "data": [10489, 14790, 20332, 18422]}, {"backgroundColor": "#058dc7", "label": "Returning Visitor", "data": [29174, 35897, 36197, 31212]}]' data-scales='{"xAxes": [{ "ticks": { "beginAtZero": "ture" }}]}' data-hide='["legend"]' height="150" width="300"></canvas>
    <h6 class="m-b-0">
      <span class="nowrap">
        <span class="p-x">
          <span class="fa fa-square fa-fw" style="color: #50b432"></span>
          New Visitor
        </span>
        <span class="p-x">
          <span class="fa fa-square fa-fw" style="color: #058dc7"></span>
          Returning Visitor
        </span>
      </span>
    </h6>
  </div>
</div>
