<div class="col-md-4">
  <div class="card">
    <div class="card-body">
      <div class="media">
        <div class="media-middle media-left">
          <span class="bg-gray sq-64 circle">
            <span class="fa fa-flag"></span>
          </span>
        </div>
        <div class="media-middle media-body">
          <h3 class="media-heading">
            <span class="fw-l">0 Issues</span>
            <span class="fw-b fz-sm text-danger">
              <span class="fa fa-caret-up"></span>
              0%
            </span>
          </h3>
          <small>0 issues are unassigned</small>
        </div>
      </div>
    </div>
  </div>
</div>
