<div class="col-xs-12 col-md-6">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Overview</h4>
    </div>
    <div class="card-body">
      <div class="card-chart">
        <canvas data-chart="line" data-animation="false" data-labels='["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]' data-values='[{"label": "This week", "backgroundColor": "transparent", "borderColor": "#00aced", "pointBackgroundColor": "#00aced", "data": [29432, 20314, 17665, 22162, 31194, 35053, 29298]}, {"label": "Last week", "backgroundColor": "transparent", "borderColor": "#75ac00", "pointBackgroundColor": "#75ac00", "data": [9956, 22607, 30963, 22668, 16338, 22222, 39238]}]' data-tooltips='{"mode": "label"}' data-hide='["gridLinesX", "legend"]' height="150"></canvas>
      </div>
    </div>
  </div>
</div>
