<div class="col-xs-6 col-md-3">
  <div class="card">
    <div class="card-values">
      <div class="p-x">
        <small>Visitors</small>
        <h3 class="card-title fw-l">185,118</h3>
      </div>
    </div>
    <div class="card-chart">
      <canvas data-chart="line" data-animation="false" data-labels='["Jun 21", "Jun 20", "Jun 19", "Jun 18", "Jun 17", "Jun 16", "Jun 15"]' data-values='[{"backgroundColor": "rgba(255, 255, 255, 0.1)", "borderColor": "#00aced", "data": [25250, 23370, 25568, 28961, 26762, 30072, 25135]}]' data-scales='{"yAxes": [{ "ticks": {"max": 32327}}]}' data-hide='["legend", "points", "scalesX", "scalesY", "tooltips"]' height="35"></canvas>
    </div>
  </div>
</div>
