<div class="form-group panel">
  <label class="col-md-3 control-label" for="form-control-10" {{dc}}>MAC address</label>
  <div class="col-md-6">
    <input id="form-control-10" class="form-control" type="text" data-inputmask="'alias': 'mac'">
    <span class="help-block">{{title}} for entering valid MAC addresses.</span>
  </div>
</div>
