<li class="sidenav-item has-subnav">
  <a href="#" aria-haspopup="true">
    <span class="sidenav-icon fa fa-list"></span>
    <span class="sidenav-label">Tables</span>
  </a>
  <ul class="sidenav-subnav collapse">
    <li class="sidenav-subheading">Tables</li>
    <li><a href="/admin/staticTables">Static tables</a></li>
    <li><a href="/admin/dynamicTables">Dynamic tables</a></li>
  </ul>
</li>
