<li class="sidenav-item has-subnav">
  <a href="#" aria-haspopup="true">
    <span class="sidenav-icon fa fa-edit"></span>
    <span class="sidenav-label">Forms</span>
  </a>
  <ul class="sidenav-subnav collapse">
    <li class="sidenav-subheading">Forms</li>
    <li><a href="/admin/cropper">Cropper</a></li>
    <li><a href="/admin/formControls">Form controls</a></li>
    <li><a href="/admin/formLayouts">Form layouts</a></li>
    <li><a href="/admin/inputMask">Input mask</a></li>
    <li><a href="/admin/mdFormControls">Material form controls</a></li>
    <li><a href="/admin/mdFormValidation">Material form validation</a></li>
    <li><a href="/admin/pickers">Pickers</a></li>
    <li><a href="/admin/select">Select2</a></li>
    <li><a href="/admin/sliders">Sliders</a></li>
    <li><a href="/admin/toggles">Toggles</a></li>
  </ul>
</li>
