<li class="sidenav-heading">Pages</li>
<li class="sidenav-item has-subnav">
  <a href="{{JSV}}" aria-haspopup="true">
    <span class="sidenav-icon fa fa-lock"></span>
    <span class="sidenav-label">Authentication</span>
  </a>
  <ul class="sidenav-subnav collapse">
    <li class="sidenav-subheading">Authentication</li>
    <li><a href="/admin/signup">Sign up</a></li>
    <li><a href="/admin/login">Login</a></li>
    <li><a href="/admin/forgot">Reset password</a></li>
  </ul>
</li>
