<li class="sidenav-heading">Components</li>
<li class="sidenav-item has-subnav">
  <a href="#" aria-haspopup="true">
    <span class="sidenav-icon fa fa-briefcase"></span>
    <span class="sidenav-label">UI Elements</span>
  </a>
  <ul class="sidenav-subnav collapse">
    <li class="sidenav-subheading">UI Elements</li>
    <li><a href="/admin/arrows">Arrows</a></li>
    <li><a href="/admin/badges">Badges</a></li>
    <li><a href="/admin/buttons">Buttons</a></li>
    <li><a href="/admin/cards">Cards</a></li>
    <li><a href="/admin/dividers">Dividers</a></li>
    <li><a href="/admin/files">Files</a></li>
    <li><a href="/admin/flags">Flags</a></li>
    <li><a href="/admin/gridSystem">Grid system</a></li>
    <li><a href="/admin/icons">Icons</a></li>
    <li><a href="/admin/labels">Labels</a></li>
    <li><a href="/admin/lists">Lists</a></li>
    <li><a href="/admin/pricingCards">Pricing cards</a></li>
    <li><a href="/admin/progressBars">Progress bars</a></li>
    <li><a href="/admin/spinners">Spinners</a></li>
    <li><a href="/admin/toastr">Toastr</a></li>
    <li><a href="/admin/typography">Typography</a></li>
  </ul>
</li>
