<li class="sidenav-search hidden-md hidden-lg">
  <form class="sidenav-form" action="/">
    <div class="form-group form-group-sm">
      <div class="input-with-icon">
        <input class="form-control" type="text" placeholder="Search…">
        <span class="fa fa-search input-icon"></span>
      </div>
    </div>
  </form>
</li>
