<li class="sidenav-item has-subnav">
  <a href="#" aria-haspopup="true">
    <span class="sidenav-icon fa fa-map-marker"></span>
    <span class="sidenav-label">Maps</span>
  </a>
  <ul class="sidenav-subnav collapse">
    <li class="sidenav-subheading">Maps</li>
    <li><a href="/admin/vectorMaps">Vector maps</a></li>
    <li><a href="/admin/googleMaps">Google maps</a></li>
  </ul>
</li>
