<li class="sidenav-item">
  <a href="/admin/widgets">
    <span class="badge badge-success">0</span>
    <span class="sidenav-icon fa fa-th"></span>
    <span class="sidenav-label">Widgets</span>
  </a>
</li>
