<li class="sidenav-heading">Navigation</li>
<li class="sidenav-item">
  <a href="/admin">
    <span class="sidenav-icon fa fa-home"></span>
    <span class="sidenav-label">Dashboard</span>
  </a>
</li>
