<div class="post-body">
  <div class="post-content">
    <p>Trying to understand why he did what he did
      <small><a href="#" target="_blank">{{Name}}</a></small>
    </p>
  </div>
  <div class="post-img">
    <a href="#">
      <img class="img-responsive hvr-pulse" src="{{avatar}}">
    </a>
  </div>
  <div class="post-actions">
    <a class="post-action hvr-underline-from-left" href="#">
      <span class="fa fa-thumbs-up fa-fw"></span>
      Like
    </a>
    <a class="post-action hvr-underline-from-left" href="#">
      <span class="fa fa-share fa-fw"></span>
      Share
    </a>
    <div class="post-summary">
      <small class="truncate">
        <a class="link-muted" href="#" {{dc}}>Likes: {{Name}} and 00 others</a>
      </small>
    </div>
  </div>
</div>
