<div class="post-footer">
  <div class="post-comments">
    <div class="post-comment-more">
      <a class="link-muted" href="#">Show previous comments 167</a>
    </div>
    <div class="post-comment-list">
      <ul class="media-list">
        {% include "admin-includes/profile/_post-media-list.njk" %}
        {% include "admin-includes/profile/_post-media-list.njk" %}
      </ul>
    </div>
    {% include "admin-includes/profile/_post-comment-box.njk" %}
  </div>
</div>
