<div class="post-header">
  <div class="post-author">
    <div class="post-author-avatar">
      <img class="img-circle" width="48" height="48" src="{{avatar}}">
    </div>
    <div class="post-author-info">
      <span class="post-author-name">
        <a href="#">{{Name}}</a>
      </span>
      <span class="post-author-action">commented on this</span>
      <span class="post-timestamp">41 minutes ago</span>
    </div>
  </div>
  <div class="post-dropdown">
    <div class="dropdown">
      <a class="dropdown-toggler" href="#" data-toggle="dropdown" aria-haspopup="true" role="button">
        <span class="fa fa-angle-down"></span>
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
        <li><a href="#">Mute</a></li>
        <li><a href="#">Block</a></li>
        <li><a href="#">Report</a></li>
      </ul>
    </div>
  </div>
</div>
