<li class="media">
  <a class="media-left" href="#">
    <img class="media-object hvr-buzz" width="32" height="32" src="{{avatar}}">
  </a>
  <div class="media-body">
    <span class="media-link">
      <a href="#">{{Name}}</a>
    </span>
    <span class="media-content">{{comment}}</span>
    <div class="media-actions">
      <a href="#" title="Like this comment" {{dc}}>Like</a>
      <span aria-hidden="true"> · </span>
      <a href="#" title="Reply on Ruby Dixon's comment" {{dc}}>Reply</a>
      <span aria-hidden="true"> · </span>
      <a class="link-muted" href="#" data-container="body" data-trigger="hover" data-toggle="tooltip" data-original-title="{{Name}} and 00 others like this.">
        <span class="fa fa-thumbs-o-up"></span>
        69
      </a>
      <span aria-hidden="true"> · </span>
      <a class="link-muted" href="#">00 mins</a>
    </div>
  </div>
</li>
