<div class="profile-header">
  <div class="profile-cover">
    <div class="profile-container">
      <div class="profile-card">
        <div class="profile-avetar">
          <img class="profile-avetar-img hvr-hang" width="128" height="128" src="{{avatar}}" alt="Teddy Wilson">
        </div>
        <div class="profile-overview">
          <h1 class="profile-name" {{dc}}>{{user.profile.name}} | {{title}}</h1>
          <button class="profile-follow-btn" type="button">Follow</button>
          <p class="lorem0"></p>
        </div>
        <div class="profile-info">
          <ul class="profile-nav">
            <li class="hvr-bounce-out">
              <a href="#">
                <h3 class="profile-nav-heading">1,143</h3>
                <em>
                  <small>posts</small>
                </em>
              </a>
            </li>
            <li class="hvr-bounce-out">
              <a href="#">
                <h3 class="profile-nav-heading">44M</h3>
                <em>
                  <small>followers</small>
                </em>
              </a>
            </li>
            <li class="hvr-bounce-out">
              <a href="#">
                <h3 class="profile-nav-heading">125</h3>
                <em>
                  <small>following</small>
                </em>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="profile-tabs">
        <ul class="profile-nav">
          <li class="active">
            <a href="#" {{dc}}>Posts</a>
          </li>
          <li><a href="#" {{dc}}>Followers</a></li>
          <li><a href="#" {{dc}}>Following</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
