<li class="feed-item">
  <div class="post">
    {% include "admin-includes/profile/_post-header.njk" %}
    {% include "admin-includes/profile/_post-body.njk" %}
    {% include "admin-includes/profile/_post-footer.njk" %}
  </div>
</li>
