<div class="form-group custom-controls-stacked">
  <label class="custom-control custom-control-primary custom-checkbox" for="closeButton">
    <input id="closeButton" class="custom-control-input" type="checkbox" checked="checked">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-label">Show close button</span>
  </label>
  <label class="custom-control custom-control-primary custom-checkbox" for="progressBar">
    <input id="progressBar" class="custom-control-input" type="checkbox">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-label">Show progress bar</span>
  </label>
</div>
