<div class="col-sm-6">
  <div class="form-group">
    <label for="positionClass" {{dc}}>Position</label>
    <select id="positionClass" class="custom-select">
      <option value="toast-top-right">Top Right</option>
      <option value="toast-bottom-right">Bottom Right</option>
      <option value="toast-bottom-left">Bottom Left</option>
      <option value="toast-top-left">Top Left</option>
      <option value="toast-top-full-width">Top Full Width</option>
      <option value="toast-bottom-full-width">Bottom Full Width</option>
      <option value="toast-top-center">Top Center</option>
      <option value="toast-bottom-center">Bottom Center</option>
    </select>
  </div>
</div>
