<div class="form-group">
  <button id="demo-show-toast" class="btn btn-primary" type="button">Show Toast</button>
  <button id="demo-clear-toasts" class="btn btn-default" type="button">Clear Toasts</button>
</div>
