<div class="col-sm-6">
  <div class="form-group">
    <label for="type" {{dc}}>Type</label>
    <select id="type" class="custom-select">
      <option value="success">Success</option>
      <option value="info">Info</option>
      <option value="warning">Warning</option>
      <option value="error">Error</option>
    </select>
  </div>
</div>
