<div class="text-center m-b">
  <h3 class="m-b-0" {{dc}}>Animated</h3>
  <small>{{header3}}</small>
</div>
<div class="row gutter-xs">
{% include "admin-includes/progress-bars/_anim-striped-xs.njk" %}
{% include "admin-includes/progress-bars/_anim-indicating-xs.njk" %}
{% include "admin-includes/progress-bars/_anim-striped-md.njk" %}
{% include "admin-includes/progress-bars/_anim-indicating-md.njk" %}
</div>
