<div class="text-center m-b">
  <h3 class="m-b-0" {{dc}}>Default</h3>
  <small>{{header1}}</small>
</div>
<div id="default" class="row gutter-xs">
{% include "admin-includes/progress-bars/_combination-bar.njk" %}
</div>
