<div class="text-center m-b">
  <h3 class="m-b-0" {{dc}}>Sizes</h3>
  <small>{{header2}}</small>
</div>
<div class="row gutter-xs">
{% include "admin-includes/progress-bars/_progress-xs.njk" %}
{% include "admin-includes/progress-bars/_progress-sm.njk" %}
{% include "admin-includes/progress-bars/_progress-md.njk" %}
{% include "admin-includes/progress-bars/_progress-lg.njk" %}
</div>
