<div class="col-xs-12 col-md-6">
  <div class="panel panel-body text-center" data-toggle="match-height">
    <h5>Badge as a link</h5>
    <p>
      <small class="text-muted">Badges with hover state, but only for links</small>
    </p>
    <div id="badge4"></div>
  </div>
</div>
