<div class="col-xs-6 col-md-3">
  <div class="panel panel-body text-center ov-h" data-toggle="match-height">
    <h5>Badge with animate.css</h5>
    <p>
      <small class="text-muted">When you scroll to the bottom of this page.</small>
    </p>
    <span class="icon-with-child">
      <span class="fa fa-bell-o fa-lg"></span>
      <span class="badge badge-danger badge-above">64</span>
    </span>
  </div>
</div>
