<div class="col-xs-6 col-md-3">
  <div class="panel panel-body text-center" data-toggle="match-height">
    <h5>Badge with arrow</h5>
    <p>
      <small class="text-muted">Badge with hover state</small>
    </p>
    <a class="badge arrow-up arrow-warning" href="#">32 messages</a>
  </div>
</div>
