<div class="col-xs-6 col-md-3">
  <div class="panel panel-body text-center" data-toggle="match-height">
    <h5>Above another element</h5>
    <p>
      <small class="text-muted">Simply use class <code>right</code></small>
    </p>
    <span class="icon-with-child">
      <span class="fa fa-bell-o fa-lg"></span>
      <span class="badge badge-danger badge-above right">8</span>
    </span>
  </div>
</div>
