<div class="col-xs-6 col-md-3">
  <div class="panel panel-body text-center" data-toggle="match-height">
    <h5>Badge with arrow</h5>
    <p>
      <small class="text-muted">With arrows of all sizes</small>
    </p>
    <span class="badge arrow-up arrow-success arrow-sm">small</span>
    <span class="badge arrow-up arrow-success">default</span>
    <span class="badge arrow-up arrow-success arrow-lg">large</span>
  </div>
</div>
