<div class="col-xs-6 col-md-3">
  <div class="panel panel-body text-center" data-toggle="match-height">
    <h5>Buttons</h5>
    <p>
      <small class="text-muted">Simply use class <code>badge-{modifier}</code></small>
    </p>
    <button class="btn btn-primary" type="button">
      Messages
      <span class="badge">4</span>
    </button>
  </div>
</div>
