<div class="col-xs-6 col-md-3">
  <div class="panel panel-body text-center" data-toggle="match-height">
    <h5>Links</h5>
    <p>
      <small class="text-muted">Simply use class <code>badge-{modifier}</code></small>
    </p>
    <a href="#">Inbox
      <span class="badge badge-primary">16</span>
    </a>
  </div>
</div>
