<div class="col-xs-6 col-md-3">
  <div class="panel panel-body text-center" data-toggle="match-height">
    <h5>List group</h5>
    <p>
      <small class="text-muted">Simply use class <code>badge-{modifier}</code></small>
    </p>
    <ul class="list-group text-left">
      <li class="list-group-item">
        <span class="badge badge-primary">16</span>
        Messages
      </li>
    </ul>
  </div>
</div>
