<div class="col-xs-6 col-md-3">
  <div class="panel panel-body text-center" data-toggle="match-height">
    <h5>Outline badge with arrow</h5>
    <p>
      <small class="text-muted">With arrows of all sizes</small>
    </p>
    <span class="badge arrow-down arrow-outline-info arrow-sm">small</span>
    <span class="badge arrow-down arrow-outline-info">default</span>
    <span class="badge arrow-down arrow-outline-info arrow-lg">large</span>
  </div>
</div>
