<div class="col-xs-12 col-md-6">
  <div class="panel panel-body text-center" data-toggle="match-height">
    <div class="fh">
      <div class="fh-m p-y-lg">
        <small class="text-muted">Any badge element can be positioned above another element for one quadrant.
          <br>
          <em>quadrant - equal to one quarter of a circle</em>
        </small>
      </div>
    </div>
  </div>
</div>
