<div class="col-xs-12 col-md-6">
  <div class="panel panel-body text-center" data-toggle="match-height">
    <div class="fh">
      <div class="fh-m p-y-md">
        <small class="text-muted">Font size, paddings, colors, can be changed through variables.</small>
      </div>
    </div>
  </div>
</div>
