<div class="text-center m-b">
  <h3 class="m-b-0" {{dc}}>columns</h3>
  <small>Examples using <code>col-*</code>.</small>
</div>
  <div class="row">
    <div class="col-md-12">
      <div class="demo-grid-block">col-md-12</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-11">
      <div class="demo-grid-block">col-md-11</div>
    </div>
    <div class="col-md-1">
      <div class="demo-grid-block">col-md-1</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <div class="demo-grid-block">col-md-10</div>
    </div>
    <div class="col-md-2">
      <div class="demo-grid-block">col-md-2</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <div class="demo-grid-block">col-md-9</div>
    </div>
    <div class="col-md-3">
      <div class="demo-grid-block">col-md-3</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="demo-grid-block">col-md-8</div>
    </div>
    <div class="col-md-4">
      <div class="demo-grid-block">col-md-4</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <div class="demo-grid-block">col-md-7</div>
    </div>
    <div class="col-md-5">
      <div class="demo-grid-block">col-md-5</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="demo-grid-block">col-md-6</div>
    </div>
    <div class="col-md-6">
      <div class="demo-grid-block">col-md-6</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="demo-grid-block">col-md-3</div>
    </div>
    <div class="col-md-3">
      <div class="demo-grid-block">col-md-3</div>
    </div>
    <div class="col-md-3">
      <div class="demo-grid-block">col-md-3</div>
    </div>
    <div class="col-md-3">
      <div class="demo-grid-block">col-md-3</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="demo-grid-block">col-md-4</div>
    </div>
    <div class="col-md-4">
      <div class="demo-grid-block">col-md-4</div>
    </div>
    <div class="col-md-4">
      <div class="demo-grid-block">col-md-4</div>
    </div>
  </div>
