<div class="text-center m-b">
  <h3 class="m-b-0" {{dc}}>Offsetting columns</h3>
  <small>To move the columns to the right you can use the class <code>.col-md-offset-*</code>.</small>
</div>
<div class="row">
  <div class="col-md-1">
    <div class="demo-grid-block">col-md-1</div>
  </div>
  <div class="col-md-1 col-md-offset-1">
    <div class="demo-grid-block">col-md-1</div>
  </div>
  <div class="col-md-1 col-md-offset-1">
    <div class="demo-grid-block">col-md-1</div>
  </div>
  <div class="col-md-1 col-md-offset-1">
    <div class="demo-grid-block">col-md-1</div>
  </div>
  <div class="col-md-1 col-md-offset-1">
    <div class="demo-grid-block">col-md-1</div>
  </div>
  <div class="col-md-1 col-md-offset-1">
    <div class="demo-grid-block">col-md-1</div>
  </div>
</div>
<div class="row">
  <div class="col-md-1 col-md-offset-1">
    <div class="demo-grid-block">col-md-1</div>
  </div>
  <div class="col-md-1 col-md-offset-1">
    <div class="demo-grid-block">col-md-1</div>
  </div>
  <div class="col-md-1 col-md-offset-1">
    <div class="demo-grid-block">col-md-1</div>
  </div>
  <div class="col-md-1 col-md-offset-1">
    <div class="demo-grid-block">col-md-1</div>
  </div>
  <div class="col-md-1 col-md-offset-1">
    <div class="demo-grid-block">col-md-1</div>
  </div>
  <div class="col-md-1 col-md-offset-1">
    <div class="demo-grid-block">col-md-1</div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="demo-grid-block">col-md-8</div>
  </div>
</div>
