<div class="col-xs-12 col-md-4">
  <div class="panel panel-body text-center" data-toggle="match-height">
    <h5>{{title}} with arrows as a link</h5>
    <p>
      <small class="text-muted">{{title}} with hover state and arrows of all sizes.</small>
    </p>
    <a class="label arrow-up arrow-success arrow-sm" href="{{JSV}}">small</a>
    <a class="label arrow-up arrow-success" href="{{JSV}}">default</a>
    <a class="label arrow-up arrow-success arrow-lg" href="{{JSV}}">large</a>
    <a class="label arrow-down arrow-outline-success arrow-lg" href="{{JSV}}">large</a>
    <a class="label arrow-down arrow-outline-success" href="{{JSV}}">default</a>
    <a class="label arrow-down arrow-outline-success arrow-sm" href="{{JSV}}">small</a>
  </div>
</div>
