<div class="col-xs-6 col-md-3">
  <div class="panel panel-body text-center" data-toggle="match-height">
    <h5>{{title}} with arrow</h5>
    <p>
      <small class="text-muted"><code>arrow-left</code></small>
    </p>
    <span class="label arrow-left arrow-warning">{{Name}}</span>
  </div>
</div>
