<div class="col-xs-6 col-md-3">
  <div class="panel panel-body text-center" data-toggle="match-height">
    <h5>{{title}} with arrow</h5>
    <p>
      <small class="text-muted"><code>arrow-right</code></small>
    </p>
    <span class="label arrow-right arrow-info">1,691 views</span>
  </div>
</div>
