<div class="col-xs-12 col-md-6">
  <div class="panel panel-body text-center" data-toggle="match-height">
    <h4>
      <a class="label label-info label-pill" href="{{JSV}}" target="_blank">
        <span>{{Name}}</span>
      </a>
      <span class="label arrow-left arrow-outline-info">
        <span>{{title}}</span>
      </span>
    </h4>
  </div>
</div>
