<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="panel panel-body text-center" data-toggle="match-height">
    <h5>Removable {{title}}</h5>
    <p>
      <small class="text-muted">{{title}} with icon and remove button</small>
    </p>
    <div class="label label-success">
      <span class="fa fa-globe fa-fw"></span>
      {{Name}}
      <button class="label-remove-btn" type="button">
        <span class="fa fa-remove"></span>
      </button>
    </div>
    <div class="label label-default">
      <span class="fa fa-users fa-fw"></span>
      {{Name}}
      <button class="label-remove-btn" type="button">
        <span class="fa fa-remove"></span>
      </button>
    </div>
    <div class="label label-default">
      <span class="fa fa-users fa-fw"></span>
      {{Name}}
      <button class="label-remove-btn" type="button">
        <span class="fa fa-remove"></span>
      </button>
    </div>
  </div>
</div>
