<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="panel panel-body text-center" data-toggle="match-height">
    <h5>Label as a tag</h5>
    <p>
      <small class="text-muted">A label can appear as a tag</small>
    </p>
    <span class="label arrow-right arrow-success m-r">Tags</span>
    <a class="label label-default" href="{{JSV}}">{{Name}}</a>
    <a class="label label-default" href="{{JSV}}">{{Name}}</a>
    <a class="label label-default" href="{{JSV}}">{{Name}}</a>
  </div>
</div>
