<div class="col-xs-12 col-md-6">
  <div class="panel panel-body text-center" data-toggle="match-height">
    <h4 class="text-muted">{{title}}
      <a class="label label-success" href="{{JSV}}" target="_blank">
        <span>{{Name}}</span>
      </a>
    </h4>
  </div>
</div>
