<div class="col-xs-12 col-md-6">
  <div class="panel panel-body text-center" data-toggle="match-height">
    <h5>Pill {{title}} as a link</h5>
    <p>
      <small class="text-muted">{{title}} with hover state, but only for links</small>
    </p>
    <a class="label label-default label-pill" href="#">{{subtitle}}</a>
    <a class="label label-outline-default label-pill" href="#">{{subtitle}}</a>
    <a class="label label-danger label-pill" href="#">{{subtitle}}</a>
    <a class="label label-outline-danger label-pill" href="#">{{subtitle}}</a>
  </div>
</div>
