<li class="hidden-xs hidden-sm">
  <form class="navbar-search navbar-search-collapsed">
    <div class="navbar-search-group">
      <input class="navbar-search-input" type="text" placeholder="Search for people, companies, and more&hellip;">
      <button class="navbar-search-toggler" title="Expand search form ( S )" aria-expanded="false" type="submit">
        <span class="fa fa-search fa-lg"></span>
      </button>
      <button class="navbar-search-adv-btn" type="button">Advanced</button>
    </div>
  </form>
</li>
