<div class="navbar-header">
  <a class="navbar-brand navbar-brand-center" href="/admin/index">
    <img class="navbar-brand-logo" src="/img/logo.png" alt="Elephant">
  </a>
  <button class="navbar-toggler visible-xs-block collapsed" type="button" data-toggle="collapse" data-target="#sidenav">
    <span class="sr-only">Toggle navigation</span>
    <span class="bars">
      <span class="bar-line bar-line-1 out"></span>
      <span class="bar-line bar-line-2 out"></span>
      <span class="bar-line bar-line-3 out"></span>
    </span>
    <span class="bars bars-x">
      <span class="bar-line bar-line-4"></span>
      <span class="bar-line bar-line-5"></span>
    </span>
  </button>
  <button class="navbar-toggler visible-xs-block collapsed" type="button" data-toggle="collapse" data-target="#navbar">
    <span class="sr-only">Toggle navigation</span>
    <span class="arrow-up"></span>
    <span class="ellipsis ellipsis-vertical">
      <img class="ellipsis-object" width="32" height="32" src="/img/avatar.jpg">
    </span>
  </button>
</div>
