<li class="visible-xs-block">
  <a href="/admin/contacts">
    <span class="fa fa-users fa-lg fa-fw"></span>
    Contacts
  </a>
</li>
<li class="visible-xs-block">
  <a href="/admin/profile">
    <span class="fa fa-user fa-lg fa-fw"></span>
    Profile
  </a>
</li>
<li class="visible-xs-block">
  <a href="/admin/login">
    <span class="fa fa-power-off fa-lg fa-fw"></span>
    Sign out
  </a>
</li>
