<li class="dropdown hidden-xs">
  <ul class="dropdown-menu dropdown-menu-right">
    <li>
      <a href="#">
        <h5 class="navbar-upgrade-heading">
          heading
          <small class="navbar-upgrade-notification">text</small>
        </h5>
      </a>
    </li>
    <li class="divider"></li>
    <li class="navbar-upgrade-version">Version: 1.0.0</li>
    <li class="divider"></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/account">account</a></li>
    <li><a href="/account/logout">Sign out</a></li>
  </ul>
  <button class="navbar-account-btn" data-toggle="dropdown" aria-haspopup="true">
    <img class="rounded" width="36" height="36" src="/img/avatar.jpg">  {{user.profile.name}}
    <span class="caret"></span>
  </button>
</li>
