<button class="sidenav-toggler hidden-xs" title="Collapse sidenav ( [ )" aria-expanded="true" type="button">
  <span class="sr-only">Toggle navigation</span>
  <span class="bars">
    <span class="bar-line bar-line-1 out"></span>
    <span class="bar-line bar-line-2 out"></span>
    <span class="bar-line bar-line-3 out"></span>
    <span class="bar-line bar-line-4 in"></span>
    <span class="bar-line bar-line-5 in"></span>
    <span class="bar-line bar-line-6 in"></span>
  </span>
</button>
