<div style="float: left; width: 50%">
    <h3>Console <small>(all ajax requests here are emulated)</small></h3>
    <div><textarea id="console" class="form-control" rows="8" style="width: 70%" autocomplete="off"></textarea></div>
</div>
