<div style="float: left">
    <h3>More examples and tricks <small>(jsFiddle)</small></h3>
    <ul>
        <li><a href="http://jsfiddle.net/xBB5x/38" target="_blank">Submit data via PUT method</a></li>
        <li><a href="http://jsfiddle.net/xBB5x/39" target="_blank">Autotext option for select</a></li>
        <li><a href="http://jsfiddle.net/xBB5x/40" target="_blank">Display checklist as &lt;UL&gt;</a></li>
        <li><a href="http://jsfiddle.net/xBB5x/62" target="_blank">Process JSON response</a></li>
        <li><a href="http://jsfiddle.net/xBB5x/63" target="_blank">Editable column in table</a></li>
        <li><a href="http://jsfiddle.net/xBB5x/64" target="_blank">MVC pattern in editable interface</a></li>
        <li><a href="http://jsfiddle.net/xBB5x/194" target="_blank">Change buttons style</a></li>
        <li><a href="http://jsfiddle.net/xBB5x/278" target="_blank">Display server response as element's text</a></li>
        <li><a href="http://jsfiddle.net/xBB5x/297" target="_blank">Dependent SELECTs</a></li>
        <li><a href="http://jsfiddle.net/xBB5x/331" target="_blank">Single regular checkbox</a></li>
        <li><a href="http://jsfiddle.net/xBB5x/329" target="_blank">Live events: work with delegated targets</a></li>
        <li><a href="http://jsfiddle.net/wQysh/8" target="_blank">SELECT2 remote source</a></li>
    </ul>
</div>
