<tr>
    <td>Datepicker</td><td>
    <a href="#" id="vacation" data-type="date" data-viewformat="dd.mm.yyyy" data-pk="1" data-placement="right" data-title="When you want vacation to start?" class="editable editable-click">25.02.2013</a><span class="notready"> * Requires jquery-ui</span></td>
</tr>
