<tr>
    <td>Textarea, buttons below. Submit by <i>ctrl+enter</i></td>
    <td><a href="#" id="comments" data-type="textarea" data-pk="1" data-placeholder="Your comments here..." data-title="Enter comments">awesome
user!</a></td>
</tr>
