<tr>
    <td>Wysihtml5. <a href="#" id="pencil"><i class="glyphicon-pencil" style="padding-right: 5px"></i>[edit]</a></td>
    <td>
      <div id="note" data-pk="1" data-type="wysihtml5" data-toggle="manual" data-title="Enter notes" data-placement="top">
        <h3>WYSIWYG</h3>
        WYSIWYG means <i>What You See Is What You Get</i>.<br>
        But may also refer to:
          <ul>
            <li>WYSIWYG (album), a 2000 album by Chumbawamba</li>
            <li>"Whatcha See is Whatcha Get", a 1971 song by The Dramatics</li>
            <li>WYSIWYG Film Festival, an annual Christian film festival</li>
          </ul>
          <i>Source:</i> <a href="http://en.wikipedia.org/wiki/WYSIWYG_%28disambiguation%29">wikipedia.org</a>
        </div>
    </td>
</tr>
