<h1 {{dc}}>{{title}} Bootstrap</h1>
<hr>
<h2 {{dc}}>Example</h2>
<div style="float: right; margin-bottom: 10px">
<label style="display: inline-block; margin-right: 50px"><input type="checkbox" id="autoopen" style="vertical-align: baseline">&nbsp;auto-open next field</label>
<button id="enable" class="btn btn-default">enable / disable</button>
</div>
<p>Click to edit</p>
