<script src="/js/vendor.min.js"></script>
<script src="/js/loader/loader.js"></script>
<script src="/js/app.js"></script>
<script src="/js/application.min.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/chaffle.js"></script>
<script src="/js/Lorem-dev.js"></script>
