<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{title}}</title>
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
<meta name="description" content="{{description}}">
<meta property="og:url" content="http://demo.naksoid.com/elephant">
<meta property="og:type" content="website">
<meta property="og:title" content="{{subTitle}}">
<meta property="og:description" content="{{description}}">
<meta property="og:image" content="{{metaImgUrl}}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@naksoid">
<meta name="twitter:creator" content="@naksoid">
<meta name="twitter:title" content="{{subTitle}}">
<meta name="twitter:description" content="{{description}}">
<meta name="twitter:image" content="{{metaImgUrl}}">
<link rel="apple-touch-icon" href="{{apple-touch-icon}}" sizes="180x180">
<link rel="icon" href="{{favicon-32x32}}" type="image/png" sizes="32x32">
<link rel="icon" href="{{favicon-16x16}}" type="image/png" sizes="16x16">
<link rel="manifest" href="{{manifest.json}}">
<link rel="mask-icon" href="safari-pinned-tab.svg" color="#00aced">
<meta name="theme-color" content="#1b1b1b">
