<div class="theme">
  <div class="theme-panel theme-panel-collapsed">
    {% include "admin-includes/general/right-sidebar/_rsb-toggle.njk" %}
    <div class="theme-panel-body">
      <div class="custom-scrollbar">
        <div class="custom-scrollbar-inner">
          <h5 class="theme-heading">{{title}}</h5>
          {% include "admin-includes/general/right-sidebar/_rsb-settings.njk" %}
          <hr class="theme-divider">
        </div>
      </div>
    </div>
    {% include "admin-includes/general/right-sidebar/_rsb-footer.njk" %}
  </div>
</div>
