<div class="layout-sidebar">
  <div class="layout-sidebar-backdrop"></div>
  <div class="layout-sidebar-body">
    <div class="custom-scrollbar">
      <nav id="sidenav" class="sidenav-collapse collapse">
        <ul class="sidenav">
          {% include "admin-includes/general/sidebar/_sb-search.njk" %}
          {% include "admin-includes/general/sidebar/_sb-navigation.njk" %}
          {% include "admin-includes/general/sidebar/_sb-x-editable.njk" %}
          {% include "admin-includes/general/sidebar/_sb-jstree.njk" %}
          {% include "admin-includes/general/sidebar/_sb-components.njk" %}
          {% include "admin-includes/general/sidebar/_sb-forms.njk" %}
          {% include "admin-includes/general/sidebar/_sb-tables.njk" %}
          {% include "admin-includes/general/sidebar/_sb-charts.njk" %}
          {% include "admin-includes/general/sidebar/_sb-maps.njk" %}
          {% include "admin-includes/general/sidebar/_sb-authentication.njk" %}
          {% include "admin-includes/general/sidebar/_sb-profile.njk" %}
          
        </ul>
      </nav>
    </div>
  </div>
</div>
