<div class="col-sm-6 col-md-4" data-toggle="match-height">
  <h5 class="text-center">Contextual colors</h5>
  <p class="text-center text-muted">
    <small>Use contextual classes to style list items</small>
  </p>
  <div class="list-group">
    <a class="list-group-item" href="{{JSV}}">
      <div class="media">
        <div class="media-left">
          <img class="circle" width="40" height="40" src="{{avatar}}">
        </div>
        <div class="media-middle media-body">
          <h5 class="media-heading">{{Name}}</h5>
          <small class="media-text lor-s7"></small>
        </div>
        <div class="media-middle media-right">
          <span class="fa fa-unlock fa-fw"></span>
        </div>
      </div>
    </a>
    <a class="list-group-item" href="{{JSV}}">
      <div class="media">
        <div class="media-left">
          <img class="circle" width="40" height="40" src="{{avatar}}">
        </div>
        <div class="media-middle media-body">
          <h5 class="media-heading">{{Name}}</h5>
          <small class="media-text lor-s8"></small>
        </div>
        <div class="media-middle media-right">
          <span class="fa fa-unlock fa-fw"></span>
        </div>
      </div>
    </a>
    <a class="list-group-item list-group-item-warning" href="{{JSV}}">
      <div class="media">
        <div class="media-left">
          <img class="circle" width="40" height="40" src="{{avatar}}">
        </div>
        <div class="media-middle media-body">
          <h5 class="media-heading">{{Name}}</h5>
          <small class="media-text lor-s1"></small>
        </div>
        <div class="media-middle media-right">
          <span class="fa fa-lock fa-fw"></span>
        </div>
      </div>
    </a>
  </div>
</div>
