<div class="col-sm-6 col-md-4" data-toggle="match-height">
  <h5 class="text-center">List group divided</h5>
  <p class="text-center text-muted">
    <small><code>list-group-divided</code></small>
  </p>
  <ul class="list-group list-group-divided">
    <li class="list-group-item">
      <span class="pull-right">68%</span>
      <span class="fa fa-chrome fa-lg fa-fw"></span>
      Chrome
    </li>
    <li class="list-group-item">
      <span class="pull-right">19.1%</span>
      <span class="fa fa-firefox fa-lg fa-fw"></span>
      Firefox
    </li>
    <li class="list-group-item">
      <span class="pull-right">6.3%</span>
      <span class="fa fa-internet-explorer fa-lg fa-fw"></span>
      Internet Explorer
    </li>
    <li class="list-group-item">
      <span class="pull-right">3.7%</span>
      <span class="fa fa-safari fa-lg fa-fw"></span>
      Safari
    </li>
    <li class="list-group-item">
      <span class="pull-right">1.5%</span>
      <span class="fa fa-opera fa-lg fa-fw"></span>
      Opera
    </li>
  </ul>
</div>
