<div class="col-sm-6 col-md-4" data-toggle="match-height">
  <h5 class="text-center">List group with media</h5>
  <p class="text-center text-muted">
    <small>Linkify list group items by using anchor tags</small>
  </p>
  <div class="list-group">
    <a class="list-group-item" href="{{JSV}}">
      <div class="media">
        <div class="media-left">
          <img class="circle" width="40" height="40" src="{{avatar}}">
        </div>
        <div class="media-middle media-body">
          <h5 class="media-heading">{{Name}}</h5>
          <small class="text-muted lor-s5"></small>
        </div>
        <div class="media-middle media-right">
          <div class="bg-success circle sq-8"></div>
        </div>
      </div>
    </a>
    <a class="list-group-item" href="{{JSV}}">
      <div class="media">
        <div class="media-left">
          <img class="circle" width="40" height="40" src="{{avatar}}">
        </div>
        <div class="media-middle media-body">
          <h5 class="media-heading">{{Name}}</h5>
          <small class="text-muted lor-s6"></small>
        </div>
        <div class="media-middle media-right">
          <div class="bg-danger circle sq-8"></div>
        </div>
      </div>
    </a>
    <a class="list-group-item" href="{{JSV}}">
      <div class="media">
        <div class="media-left">
          <img class="circle" width="40" height="40" src="{{avatar}}">
        </div>
        <div class="media-middle media-body">
          <h5 class="media-heading">{{Name}}</h5>
          <small class="text-muted lor-s4"></small>
        </div>
        <div class="media-middle media-right">
          <div class="bg-warning circle sq-8"></div>
        </div>
      </div>
    </a>
  </div>
</div>
