<div class="col-sm-4 eq p-a-lg">
  <div class="media-list">
    <div class="media">
      <div class="media-left">
        <span class="fa fa-folder bg-gray circle sq-48"></span>
      </div>
      <div class="media-middle media-body">
        <h5 class="media-heading">{{Name}}</h5>
        <small>{{Date}}</small>
      </div>
      <div class="media-middle media-right">
        <span class="fa fa-info-circle fa-lg"></span>
      </div>
    </div>
    <div class="media">
      <div class="media-left">
        <span class="fa fa-folder bg-gray circle sq-48"></span>
      </div>
      <div class="media-middle media-body">
        <h5 class="media-heading">{{Name}}</h5>
        <small>{{Date}}</small>
      </div>
      <div class="media-middle media-right">
        <span class="fa fa-info-circle fa-lg"></span>
      </div>
    </div>
    <div class="media">
      <div class="media-left">
        <span class="fa fa-folder bg-gray circle sq-48"></span>
      </div>
      <div class="media-middle media-body">
        <h5 class="media-heading">{{Name}}</h5>
        <small>{{Date}}</small>
      </div>
      <div class="media-middle media-right">
        <span class="fa fa-info-circle fa-lg"></span>
      </div>
    </div>
  </div>
</div>
