<div class="form-group panel">
  <label for="demo-select2-3" class="form-label" {{dc}}>Languages</label>
  <select id="demo-select2-3" class="form-control" multiple="multiple"></select>
  <span class="help-block"><code>{{sub3}}</code></span>
</div>
