<div class="form-group panel">
  <label for="demo-select2-2" class="form-label" {{dc}}>Roles</label>
  <select id="demo-select2-2" class="form-control" multiple="multiple"></select>
  <span class="help-block"><code>{{sub2}}</code></span>
</div>
