<div class="form-group panel">
  <label for="demo-select2-1" class="form-label" {{dc}}>Time zone</label>
  <select id="demo-select2-1" class="form-control"></select>
  <span class="help-block"><code>{{sub1}}</code></span>
</div>
