<div class="text-center m-b">
  <h3 class="m-b-0">{{header2}}</h3>
  <small>{{detail2}}</small>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="panel">
      <div class="panel-body">
        <div class="table-responsive">
          <table id="demo-dynamic-tables-2" class="table table-middle nowrap">
            {% include "admin-includes/dynamic-tables/_dynamic-table-top.njk" %}
            <tbody>
            {% include "admin-includes/dynamic-tables/_dynamic-table-search-col.njk" %}
            {% include "admin-includes/dynamic-tables/_dynamic-table-search-col.njk" %}
            {% include "admin-includes/dynamic-tables/_dynamic-table-search-col.njk" %}
            {% include "admin-includes/dynamic-tables/_dynamic-table-search-col.njk" %}
            {% include "admin-includes/dynamic-tables/_dynamic-table-search-col.njk" %}
            {% include "admin-includes/dynamic-tables/_dynamic-table-search-col.njk" %}
            {% include "admin-includes/dynamic-tables/_dynamic-table-search-col.njk" %}
            {% include "admin-includes/dynamic-tables/_dynamic-table-search-col.njk" %}
            {% include "admin-includes/dynamic-tables/_dynamic-table-search-col.njk" %}
            {% include "admin-includes/dynamic-tables/_dynamic-table-search-col.njk" %}
            {% include "admin-includes/dynamic-tables/_dynamic-table-search-col.njk" %}
            {% include "admin-includes/dynamic-tables/_dynamic-table-search-col.njk" %}
            {% include "admin-includes/dynamic-tables/_dynamic-table-search-col.njk" %}
            {% include "admin-includes/dynamic-tables/_dynamic-table-search-col.njk" %}
            {% include "admin-includes/dynamic-tables/_dynamic-table-search-col.njk" %}
            {% include "admin-includes/dynamic-tables/_dynamic-table-search-col.njk" %}
            {% include "admin-includes/dynamic-tables/_dynamic-table-search-col.njk" %}
            {% include "admin-includes/dynamic-tables/_dynamic-table-search-col.njk" %}
            {% include "admin-includes/dynamic-tables/_dynamic-table-search-col.njk" %}
            {% include "admin-includes/dynamic-tables/_dynamic-table-search-col.njk" %}
            {% include "admin-includes/dynamic-tables/_dynamic-table-search-col.njk" %}
            {% include "admin-includes/dynamic-tables/_dynamic-table-search-col.njk" %}
            {% include "admin-includes/dynamic-tables/_dynamic-table-search-col.njk" %}
            {% include "admin-includes/dynamic-tables/_dynamic-table-search-col.njk" %}
            {% include "admin-includes/dynamic-tables/_dynamic-table-search-col.njk" %}
            {% include "admin-includes/dynamic-tables/_dynamic-table-search-col.njk" %}
            {% include "admin-includes/dynamic-tables/_dynamic-table-search-col.njk" %}
            {% include "admin-includes/dynamic-tables/_dynamic-table-search-col.njk" %}
            {% include "admin-includes/dynamic-tables/_dynamic-table-search-col.njk" %}
            {% include "admin-includes/dynamic-tables/_dynamic-table-search-col.njk" %}
            {% include "admin-includes/dynamic-tables/_dynamic-table-search-col.njk" %}
            {% include "admin-includes/dynamic-tables/_dynamic-table-search-col.njk" %}
            {% include "admin-includes/dynamic-tables/_dynamic-table-search-col.njk" %}
            {% include "admin-includes/dynamic-tables/_dynamic-table-search-col.njk" %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
