<thead>
  <tr>
    <th>
      <label class="custom-control custom-control-primary custom-checkbox">
        <input class="custom-control-input" type="checkbox">
        <span class="custom-control-indicator"></span>
      </label>
    </th>
    <th>Customer</th>
    <th>Subject</th>
    <th>Updated</th>
    <th>Status</th>
    <th>Priority</th>
    <th>Assigned to</th>
    <th></th>
  </tr>
</thead>
