<div class="text-center m-b">
  <h3 class="m-b-0">{{header2}}</h3>
  <small>{{detail2}}</small>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-body">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Customer</th>
              <th>Quantity</th>
              <th>Priority</th>
              <th>1 day</th>
              <th>2 days</th>
              <th>3 days</th>
              <th>a year ago</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td><a href="#">{{Name}}</a></td>
              <td>28 tickets</td>
              <td class="miw-320">
                <small class="progress-description">
                  <span class="pull-right">Critical</span>
                  Low
                </small>
                <div class="progress progress-xs m-b-0">
                  <div class="progress-bar progress-bar-success" style="width: 60%">
                    <span class="sr-only">60% Complete (success)</span>
                  </div>
                  <div class="progress-bar progress-bar-warning" style="width: 30%">
                    <span class="sr-only">30% Complete (warning)</span>
                  </div>
                  <div class="progress-bar progress-bar-danger" style="width: 10%">
                    <span class="sr-only">10% Complete (danger)</span>
                  </div>
                </div>
              </td>
              <td>75%</td>
              <td>25%</td>
              <td>0%</td>
              <td>
                <span class="text-success">
                  <span class="fa fa-level-up"></span>
                  +15.00%
                </span>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td><a href="#">{{Name}}</a></td>
              <td>28 tickets</td>
              <td class="miw-320">
                <small class="progress-description">
                  <span class="pull-right">Critical</span>
                  Low
                </small>
                <div class="progress progress-xs m-b-0">
                  <div class="progress-bar progress-bar-success" style="width: 70%">
                    <span class="sr-only">70% Complete (success)</span>
                  </div>
                  <div class="progress-bar progress-bar-warning" style="width: 20%">
                    <span class="sr-only">20% Complete (warning)</span>
                  </div>
                  <div class="progress-bar progress-bar-danger" style="width: 10%">
                    <span class="sr-only">10% Complete (danger)</span>
                  </div>
                </div>
              </td>
              <td>100%</td>
              <td>0%</td>
              <td>0%</td>
              <td>
                <span class="text-success">
                  <span class="fa fa-level-up"></span>
                  +7.75%
                </span>
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td><a href="#">{{Name}}</a></td>
              <td>24 tickets</td>
              <td class="miw-320">
                <small class="progress-description">
                  <span class="pull-right">Critical</span>
                  Low
                </small>
                <div class="progress progress-xs m-b-0">
                  <div class="progress-bar progress-bar-success" style="width: 80%">
                    <span class="sr-only">80% Complete (success)</span>
                  </div>
                  <div class="progress-bar progress-bar-warning" style="width: 10%">
                    <span class="sr-only">10% Complete (warning)</span>
                  </div>
                  <div class="progress-bar progress-bar-danger" style="width: 10%">
                    <span class="sr-only">10% Complete (danger)</span>
                  </div>
                </div>
              </td>
              <td>90%</td>
              <td>10%</td>
              <td>0%</td>
              <td>
                <span class="text-muted">
                  0.00%
                </span>
              </td>
            </tr>
            <tr>
              <td>4</td>
              <td><a href="#">{{Name}}</a></td>
              <td>21 tickets</td>
              <td class="miw-320">
                <small class="progress-description">
                  <span class="pull-right">Critical</span>
                  Low
                </small>
                <div class="progress progress-xs m-b-0">
                  <div class="progress-bar progress-bar-success" style="width: 60%">
                    <span class="sr-only">60% Complete (success)</span>
                  </div>
                  <div class="progress-bar progress-bar-warning" style="width: 10%">
                    <span class="sr-only">10% Complete (warning)</span>
                  </div>
                  <div class="progress-bar progress-bar-danger" style="width: 30%">
                    <span class="sr-only">30% Complete (danger)</span>
                  </div>
                </div>
              </td>
              <td>90%</td>
              <td>10%</td>
              <td>0%</td>
              <td>
                <span class="text-danger">
                  -7.75%
                </span>
              </td>
            </tr>
            <tr>
              <td>5</td>
              <td><a href="#">{{Name}}</a></td>
              <td>19 tickets</td>
              <td class="miw-320">
                <small class="progress-description">
                  <span class="pull-right">Critical</span>
                  Low
                </small>
                <div class="progress progress-xs m-b-0">
                  <div class="progress-bar progress-bar-success" style="width: 100%">
                    <span class="sr-only">100% Complete (success)</span>
                  </div>
                </div>
              </td>
              <td>65%</td>
              <td>25%</td>
              <td>10%</td>
              <td>
                <span class="text-success">
                  <span class="fa fa-level-up"></span>
                  +2.00%
                </span>
              </td>
            </tr>
            <tr>
              <td>6</td>
              <td><a href="#">{{Name}}</a></td>
              <td>18 tickets</td>
              <td class="miw-320">
                <small class="progress-description">
                  <span class="pull-right">Critical</span>
                  Low
                </small>
                <div class="progress progress-xs m-b-0">
                  <div class="progress-bar progress-bar-success" style="width: 100%">
                    <span class="sr-only">100% Complete (success)</span>
                  </div>
                </div>
              </td>
              <td>90%</td>
              <td>10%</td>
              <td>0%</td>
              <td>
                <span class="text-danger">
                  <span class="fa fa-level-down"></span>
                  -3.25%
                </span>
              </td>
            </tr>
            <tr>
              <td>7</td>
              <td><a href="#">{{Name}}</a></td>
              <td>17 tickets</td>
              <td class="miw-320">
                <small class="progress-description">
                  <span class="pull-right">Critical</span>
                  Low
                </small>
                <div class="progress progress-xs m-b-0">
                  <div class="progress-bar progress-bar-success" style="width: 95%">
                    <span class="sr-only">95% Complete (success)</span>
                  </div>
                  <div class="progress-bar progress-bar-danger" style="width: 5%">
                    <span class="sr-only">5% Complete (danger)</span>
                  </div>
                </div>
              </td>
              <td>90%</td>
              <td>10%</td>
              <td>0%</td>
              <td>
                <span class="text-danger">
                  <span class="fa fa-level-down"></span>
                  -12.00%
                </span>
              </td>
            </tr>
            <tr>
              <td>8</td>
              <td><a href="#">{{Name}}</a></td>
              <td>15 tickets</td>
              <td class="miw-320">
                <small class="progress-description">
                  <span class="pull-right">Critical</span>
                  Low
                </small>
                <div class="progress progress-xs m-b-0">
                  <div class="progress-bar progress-bar-success" style="width: 70%">
                    <span class="sr-only">70% Complete (success)</span>
                  </div>
                  <div class="progress-bar progress-bar-warning" style="width: 25%">
                    <span class="sr-only">25% Complete (warning)</span>
                  </div>
                  <div class="progress-bar progress-bar-danger" style="width: 5%">
                    <span class="sr-only">5% Complete (danger)</span>
                  </div>
                </div>
              </td>
              <td>95%</td>
              <td>0%</td>
              <td>5%</td>
              <td>
                <span class="text-danger">
                  <span class="fa fa-level-down"></span>
                  -12.75%
                </span>
              </td>
            </tr>
            <tr>
              <td>9</td>
              <td><a href="#">{{Name}}</a></td>
              <td>15 tickets</td>
              <td class="miw-320">
                <small class="progress-description">
                  <span class="pull-right">Critical</span>
                  Low
                </small>
                <div class="progress progress-xs m-b-0">
                  <div class="progress-bar progress-bar-success" style="width: 70%">
                    <span class="sr-only">70% Complete (success)</span>
                  </div>
                  <div class="progress-bar progress-bar-warning" style="width: 20%">
                    <span class="sr-only">20% Complete (warning)</span>
                  </div>
                  <div class="progress-bar progress-bar-danger" style="width: 10%">
                    <span class="sr-only">10% Complete (danger)</span>
                  </div>
                </div>
              </td>
              <td>80%</td>
              <td>20%</td>
              <td>0%</td>
              <td>
                <span class="text-muted">
                  0.00%
                </span>
              </td>
            </tr>
            <tr>
              <td>10</td>
              <td><a href="#">{{Name}}</a></td>
              <td>13 tickets</td>
              <td class="miw-320">
                <small class="progress-description">
                  <span class="pull-right">Critical</span>
                  Low
                </small>
                <div class="progress progress-xs m-b-0">
                  <div class="progress-bar progress-bar-success" style="width: 95%">
                    <span class="sr-only">95% Complete (success)</span>
                  </div>
                  <div class="progress-bar progress-bar-danger" style="width: 5%">
                    <span class="sr-only">5% Complete (danger)</span>
                  </div>
                </div>
              </td>
              <td>85%</td>
              <td>15%</td>
              <td>0%</td>
              <td>
                <span class="text-muted">
                  0.00%
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
