<div class="text-center m-b">
  <h3 class="m-b-0">{{header1}}</h3>
  <small>{{detail1}}</small>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="panel">
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-middle">
            <thead>
              <tr>
                <th>
                  <label class="custom-control custom-control-primary custom-checkbox">
                    <input class="custom-control-input" type="checkbox">
                    <span class="custom-control-indicator"></span>
                  </label>
                </th>
                <th>Customer</th>
                <th>Subject</th>
                <th>Updated</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Assigned to</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <label class="custom-control custom-control-primary custom-checkbox">
                    <input class="custom-control-input" type="checkbox">
                    <span class="custom-control-indicator"></span>
                  </label>
                </td>
                <td class="nowrap">
                  <span class="icon-with-child m-r">
                    <img class="circle" width="36" height="36" src="/img/avatar.jpg" alt="Jessica Brown">
                    <span class="icon-child bg-warning circle sq-8"></span>
                  </span>
                  <strong>{{Name}}</strong>
                </td>
                <td class="maw-320">
                  <span class="truncate">{{Subject}}</span>
                </td>
                <td>21-Jun-2016</td>
                <td>
                  <span class="label label-info label-pill">New</span>
                </td>
                <td>Low</td>
                <td>{{Name}}</td>
                <td>
                  <div class="btn-group pull-right dropdown">
                    <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                      <span class="fa fa-ellipsis-h fa-lg fa-fw"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li><a href="#">Assigned to me</a></li>
                      <li><a href="#">Flag this ticket</a></li>
                      <li><a href="#">Mark this ticket as spam</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="custom-control custom-control-primary custom-checkbox">
                    <input class="custom-control-input" type="checkbox">
                    <span class="custom-control-indicator"></span>
                  </label>
                </td>
                <td class="nowrap">
                  <span class="icon-with-child m-r">
                    <img class="circle" width="36" height="36" src="/img/avatar.jpg" alt="Adelaide Kane">
                    <span class="icon-child bg-success circle sq-8"></span>
                  </span>
                  <strong>{{Name}}</strong>
                </td>
                <td class="maw-320">
                  <span class="truncate">{{Subject}}</span>
                </td>
                <td>21-Jun-2016</td>
                <td>
                  <span class="label label-info label-pill">New</span>
                </td>
                <td>Low</td>
                <td>{{Name}}</td>
                <td>
                  <div class="btn-group pull-right dropdown">
                    <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                      <span class="fa fa-ellipsis-h fa-lg fa-fw"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li><a href="#">Assigned to me</a></li>
                      <li><a href="#">Flag this ticket</a></li>
                      <li><a href="#">Mark this ticket as spam</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="custom-control custom-control-primary custom-checkbox">
                    <input class="custom-control-input" type="checkbox">
                    <span class="custom-control-indicator"></span>
                  </label>
                </td>
                <td class="nowrap">
                  <span class="icon-with-child m-r">
                    <img class="circle" width="36" height="36" src="/img/avatar.jpg" alt="Dave Hamilton">
                    <span class="icon-child bg-warning circle sq-8"></span>
                  </span>
                  <strong>{{Name}}</strong>
                </td>
                <td class="maw-320">
                  <span class="truncate">{{Subject}}</span>
                </td>
                <td>21-Jun-2016</td>
                <td>
                  <span class="label label-info label-pill">New</span>
                </td>
                <td>Low</td>
                <td>{{Name}}</td>
                <td>
                  <div class="btn-group pull-right dropdown">
                    <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                      <span class="fa fa-ellipsis-h fa-lg fa-fw"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li><a href="#">Assigned to me</a></li>
                      <li><a href="#">Flag this ticket</a></li>
                      <li><a href="#">Mark this ticket as spam</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="custom-control custom-control-primary custom-checkbox">
                    <input class="custom-control-input" type="checkbox">
                    <span class="custom-control-indicator"></span>
                  </label>
                </td>
                <td class="nowrap">
                  <span class="icon-with-child m-r">
                    <img class="circle" width="36" height="36" src="/img/avatar.jpg" alt="Rebecca Fox">
                    <span class="icon-child bg-warning circle sq-8"></span>
                  </span>
                  <strong>{{Name}}</strong>
                </td>
                <td class="maw-320">
                  <span class="truncate">{{Subject}}</span>
                </td>
                <td>21-Jun-2016</td>
                <td>
                  <span class="label label-primary label-pill">Open</span>
                </td>
                <td>High</td>
                <td>{{Name}}</td>
                <td>
                  <div class="btn-group pull-right dropdown">
                    <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                      <span class="fa fa-ellipsis-h fa-lg fa-fw"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li><a href="#">Flag this ticket</a></li>
                      <li><a href="#">Mark this ticket as spam</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="custom-control custom-control-primary custom-checkbox">
                    <input class="custom-control-input" type="checkbox">
                    <span class="custom-control-indicator"></span>
                  </label>
                </td>
                <td class="nowrap">
                  <span class="icon-with-child m-r">
                    <img class="circle" width="36" height="36" src="/img/avatar.jpg" alt="John Miller">
                    <span class="icon-child bg-success circle sq-8"></span>
                  </span>
                  <strong>{{Name}}</strong>
                </td>
                <td class="maw-320">
                  <span class="truncate">{{Subject}}</span>
                </td>
                <td>21-Jun-2016</td>
                <td>
                  <span class="label label-success label-pill">Closed</span>
                </td>
                <td>Medium</td>
                <td>{{Name}}</td>
                <td>
                  <div class="btn-group pull-right dropdown">
                    <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                      <span class="fa fa-ellipsis-h fa-lg fa-fw"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li><a href="#">Flag this ticket</a></li>
                      <li><a href="#">Mark this ticket as spam</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="custom-control custom-control-primary custom-checkbox">
                    <input class="custom-control-input" type="checkbox">
                    <span class="custom-control-indicator"></span>
                  </label>
                </td>
                <td class="nowrap">
                  <span class="icon-with-child m-r">
                    <img class="circle" width="36" height="36" src="/img/avatar.jpg" alt="Brad Miller">
                    <span class="icon-child bg-danger circle sq-8"></span>
                  </span>
                  <strong>{{Name}}</strong>
                </td>
                <td class="maw-320">
                  <span class="truncate">{{Subject}}</span>
                </td>
                <td>21-Jun-2016</td>
                <td>
                  <span class="label label-success label-pill">Closed</span>
                </td>
                <td>Medium</td>
                <td>{{Name}}</td>
                <td>
                  <div class="btn-group pull-right dropup">
                    <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                      <span class="fa fa-ellipsis-h fa-lg fa-fw"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li><a href="#">Flag this ticket</a></li>
                      <li><a href="#">Mark this ticket as spam</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="custom-control custom-control-primary custom-checkbox">
                    <input class="custom-control-input" type="checkbox">
                    <span class="custom-control-indicator"></span>
                  </label>
                </td>
                <td class="nowrap">
                  <span class="icon-with-child m-r">
                    <img class="circle" width="36" height="36" src="/img/avatar.jpg" alt="Agatha Ford">
                    <span class="icon-child bg-warning circle sq-8"></span>
                  </span>
                  <strong>{{Name}}</strong>
                </td>
                <td class="maw-320">
                  <span class="truncate">{{Subject}}</span>
                </td>
                <td>21-Jun-2016</td>
                <td>
                  <span class="label label-primary label-pill">Open</span>
                </td>
                <td>High</td>
                <td>{{Name}}</td>
                <td>
                  <div class="btn-group pull-right dropup">
                    <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                      <span class="fa fa-ellipsis-h fa-lg fa-fw"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li><a href="#">Flag this ticket</a></li>
                      <li><a href="#">Mark this ticket as spam</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="custom-control custom-control-primary custom-checkbox">
                    <input class="custom-control-input" type="checkbox">
                    <span class="custom-control-indicator"></span>
                  </label>
                </td>
                <td class="nowrap">
                  <span class="icon-with-child m-r">
                    <img class="circle" width="36" height="36" src="/img/avatar.jpg" alt="Mitt Owen">
                    <span class="icon-child bg-danger circle sq-8"></span>
                  </span>
                  <strong>{{Name}}</strong>
                </td>
                <td class="maw-320">
                  <span class="truncate">{{Subject}}</span>
                </td>
                <td>20-Jun-2016</td>
                <td>
                  <span class="label label-success label-pill">Closed</span>
                </td>
                <td>Low</td>
                <td>{{Name}}</td>
                <td>
                  <div class="btn-group pull-right dropup">
                    <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                      <span class="fa fa-ellipsis-h fa-lg fa-fw"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li><a href="#">Flag this ticket</a></li>
                      <li><a href="#">Mark this ticket as spam</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="custom-control custom-control-primary custom-checkbox">
                    <input class="custom-control-input" type="checkbox">
                    <span class="custom-control-indicator"></span>
                  </label>
                </td>
                <td class="nowrap">
                  <span class="icon-with-child m-r">
                    <img class="circle" width="36" height="36" src="/img/avatar.jpg" alt="Jason Saunders">
                    <span class="icon-child bg-warning circle sq-8"></span>
                  </span>
                  <strong>{{Name}}</strong>
                </td>
                <td class="maw-320">
                  <span class="truncate">{{Subject}}</span>
                </td>
                <td>20-Jun-2016</td>
                <td>
                  <span class="label label-success label-pill">Closed</span>
                </td>
                <td>Low</td>
                <td>{{Name}}</td>
                <td>
                  <div class="btn-group pull-right dropup">
                    <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                      <span class="fa fa-ellipsis-h fa-lg fa-fw"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li><a href="#">Flag this ticket</a></li>
                      <li><a href="#">Mark this ticket as spam</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="custom-control custom-control-primary custom-checkbox">
                    <input class="custom-control-input" type="checkbox">
                    <span class="custom-control-indicator"></span>
                  </label>
                </td>
                <td class="nowrap">
                  <span class="icon-with-child m-r">
                    <img class="circle" width="36" height="36" src="/img/avatar.jpg" alt="Ruby Dixon">
                    <span class="icon-child bg-success circle sq-8"></span>
                  </span>
                  <strong>{{Name}}</strong>
                </td>
                <td class="maw-320">
                  <span class="truncate">{{Subject}}</span>
                </td>
                <td>20-Jun-2016</td>
                <td>
                  <span class="label label-success label-pill">Closed</span>
                </td>
                <td>Medium</td>
                <td>{{Name}}</td>
                <td>
                  <div class="btn-group pull-right dropup">
                    <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                      <span class="fa fa-ellipsis-h fa-lg fa-fw"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li><a href="#">Flag this ticket</a></li>
                      <li><a href="#">Mark this ticket as spam</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
