<div class="title-bar">
  <h1 class="title-bar-title">
    <span class="d-ib">{{title}}</span>
    <span class="d-ib">
      <a class="title-bar-shortcut" href="#" title="Add to shortcut list" data-container="body" data-toggle-text="Remove from shortcut list" data-trigger="hover" data-placement="right" data-toggle="tooltip">
        <span class="sr-only">{{shortcut}}</span>
      </a>
    </span>
  </h1>
  <p class="title-bar-description">
    <small>{{subtitle}}</small>
  </p>
</div>
