<div class="col-md-6" style="padding:3em;">
	<h3>menu - right click to edit and create</h3>
	<div id="container2" class="col-md-6" >
	  <ul>
		<li data-jstree='{"opened":true, "type":"demo"}'>JS
		  <ul>
			<li>File A </li>
			<li>File B </li>
			<li>File C </li>
			<li>File D </li>
			<li>File E </li>
			<li>File F </li>
			<li>File G </li>
			<li>File H </li>
		  </ul>
		</li>
	  </ul>
	</div>
</div>
