<div class="col-md-6" style="padding:3em;">
<h3>menu - Checkbox</h3>
<div id="container5">
  <ul>
  <li data-jstree='{"opened":true}'>Root node
    <ul>
    <li>Child node 1</li>
    <li>Child node 2</li>
    <li>Child node 3</li>
    <li>Child node 4</li>
    <li>Child node 5</li>
    <li>Child node 6</li>
    </ul>
  </li>
  </ul>
</div>
</div>
