<div class="col-xs-6 col-md-3">
  <div class="panel panel-body text-center" data-toggle="match-height">
    <h5>24-hour format</h5>
    <p class="small text-muted">Timepicker uses the time portion of PHP.</p>
    <div class="input-with-icon">
      <input id="demo-timepicker-5" class="form-control" type="text">
      <span class="fa fa-clock-o input-icon"></span>
    </div>
  </div>
</div>
