<div class="col-xs-6 col-md-3 col-md-pull-3">
  <div class="panel panel-body text-center" data-toggle="match-height">
    <h5>Button trigger (left)</h5>
    <p class="small text-muted">Click the button next to the input field.</p>
    <div class="input-group date">
      <span class="input-group-btn">
        <button id="demo-datepicker-1-btn" class="btn btn-primary" type="button">
          <span class="fa fa-calendar"></span>
        </button>
      </span>
      <input id="demo-datepicker-1" class="form-control" type="text">
    </div>
  </div>
</div>
