<div class="col-xs-6 col-md-3 col-md-push-0">
  <div class="panel panel-body text-center" data-toggle="match-height">
    <h5>Custom Format (long)</h5>
    <p class="small text-muted">Combination of DD, MM d, yyyy.</p>
    <div class="input-with-icon">
      <input class="form-control" type="text" value="Friday, April 1, 2016" data-provide="datepicker" data-date-autoclose="true" data-date-format="DD, MM d, yyyy">
      <span class="fa fa-calendar input-icon"></span>
    </div>
  </div>
</div>
