<div class="text-center m-b">
  <h3 class="m-b-0" {{dc}}>{{header1}}</h3>
  <small>{{sub1}}</small>
</div>
<div class="row gutter-xs">
{% include "admin-includes/pickers/_default-date.njk" %}
{% include "admin-includes/pickers/_today-highlight.njk" %}
{% include "admin-includes/pickers/_today-button.njk" %}
{% include "admin-includes/pickers/_clear-button.njk" %}
{% include "admin-includes/pickers/_custom-format.njk" %}
{% include "admin-includes/pickers/_birth-date.njk" %}
{% include "admin-includes/pickers/_button-trigger.njk" %}
{% include "admin-includes/pickers/_button-trigger-right.njk" %}
{% include "admin-includes/pickers/_date-range.njk" %}
</div>
