<div class="col-xs-12 col-md-6">
  <div class="panel panel-body text-center">
    <h5>Datepicker, Timepicker and Datepair</h5>
    <p class="small text-muted">Datepair can automatically set the other input when a first value is selected.</p>
    <div id="demo-timepicker-6" class="row gutter-xs">
      <div class="col-xs-7 m-b">
        <div class="input-with-icon">
          <input class="form-control date start" type="text" placeholder="From date">
          <span class="fa fa-calendar input-icon"></span>
        </div>
      </div>
      <div class="col-xs-5 m-b">
        <div class="input-with-icon">
          <input class="form-control time start" type="text" placeholder="From time">
          <span class="fa fa-clock-o input-icon"></span>
        </div>
      </div>
      <div class="col-xs-7">
        <div class="input-with-icon">
          <input class="form-control date end" type="text" placeholder="Until date">
          <span class="fa fa-calendar input-icon"></span>
        </div>
      </div>
      <div class="col-xs-5">
        <div class="input-with-icon">
          <input class="form-control time end" type="text" placeholder="Until time">
          <span class="fa fa-clock-o input-icon"></span>
        </div>
      </div>
    </div>
  </div>
</div>
