<div class="col-xs-12">
  <div class="panel panel-body text-center" data-toggle="match-height">
    <h5>Select a Date Range</h5>
    <p class="small text-muted">Select the date range to search for.</p>
    <div class="input-group input-daterange" data-provide="datepicker" data-date-autoclose="true" data-date-format="dd-M-yyyy">
      <input class="form-control" type="text" value="01-Apr-2016">
      <span class="input-group-addon">to</span>
      <input class="form-control" type="text" value="10-Apr-2016">
    </div>
  </div>
</div>
