<div class="col-xs-6 col-md-3 col-lg-push-0">
  <div class="panel panel-body text-center" data-toggle="match-height">
    <h5>Default Timepicker</h5>
    <p class="small text-muted">Timepicker with default settings.</p>
    <div class="input-with-icon">
      <input id="demo-timepicker-1" class="form-control" type="text">
      <span class="fa fa-clock-o input-icon"></span>
    </div>
  </div>
</div>
