<div class="col-xs-6 col-md-3">
  <div class="panel panel-body text-center" data-toggle="match-height">
    <h5>Disable Time Ranges</h5>
    <p class="small text-muted">Allowed range: 9:00am to 6:00pm.</p>
    <div class="input-with-icon">
      <input id="demo-timepicker-4" class="form-control" type="text">
      <span class="fa fa-clock-o input-icon"></span>
    </div>
  </div>
</div>
