<div class="col-xs-12 col-md-6 col-lg-pull-3">
  <div class="panel panel-body text-center" data-toggle="match-height">
    <h5>Duration</h5>
    <p class="small text-muted">Set a starting time and see duration from that starting time.</p>
    <div id="demo-timepicker-3" class="row gutter-xs">
      <div class="col-xs-6">
        <div class="input-with-icon">
          <input class="form-control time start" type="text" placeholder="From time">
          <span class="fa fa-clock-o input-icon"></span>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="input-with-icon">
          <input class="form-control time end" type="text" placeholder="Until time">
          <span class="fa fa-clock-o input-icon"></span>
        </div>
      </div>
    </div>
  </div>
</div>
