<div class="col-xs-6 col-md-3 col-lg-push-6">
  <div class="panel panel-body text-center" data-toggle="match-height">
    <h5>Set Time to "NOW"</h5>
    <p class="small text-muted">Click the button next to the input field.</p>
    <div class="input-group">
      <input id="demo-timepicker-2" class="form-control" type="text">
      <span id="demo-timepicker-2-btn" class="input-group-btn">
        <button class="btn btn-primary" type="button">
          <span class="fa fa-clock-o"></span>
        </button>
      </span>
    </div>
  </div>
</div>
