<div class="col-xs-6 col-md-3">
  <div class="panel panel-body text-center" data-toggle="match-height">
    <h5>{{Subject}}</h5>
    <p class="small text-muted">Generate drop-down options with varying levels of precision.</p>
    <div class="input-with-icon">
      <input id="demo-timepicker-8" class="form-control" type="text">
      <span class="fa fa-clock-o input-icon"></span>
    </div>
  </div>
</div>
