<div class="text-center m-b">
<h3 class="m-b-0" {{dc}}>{{header2}}</h3>
<small>{{sub2}}</small>
</div>
<div class="row gutter-xs">
{% include "admin-includes/pickers/_default-time.njk" %}
{% include "admin-includes/pickers/_set-time.njk" %}
{% include "admin-includes/pickers/_duration.njk" %}
{% include "admin-includes/pickers/_disable-time-range.njk" %}
{% include "admin-includes/pickers/_24hr-format.njk" %}
{% include "admin-includes/pickers/_datepicker-timepicker.njk" %}
{% include "admin-includes/pickers/_datepicker-timepicker.njk" %}
{% include "admin-includes/pickers/_timepicker-dropdown-custom.njk" %}
{% include "admin-includes/pickers/_timepicker-dropdown.njk" %}
</div>
