
<p class="signup-twitter">
  <a class="btn btn-block bg-twitter hvr-buzz" href="/auth/twitter">
    <span class="fa fa-twitter fa-lg fa-fw"></span>
    Log in with Twitter
  </a>
</p>
<p class="signup-twitter">
  <a class="btn btn-block bg-facebook hvr-buzz" href="/auth/facebook">
    <span class="fa fa-facebook fa-lg fa-fw"></span>
    Log in with Facebook
  </a>
</p>
<p class="signup-twitter">
  <a class="btn btn-block bg-linkedin hvr-buzz" href="/auth/linkedin">
    <span class="fa fa-linkedin fa-lg fa-fw"></span>
    Log in with Linkedin
  </a>
</p>
<p class="signup-twitter">
  <a class="btn btn-block hvr-buzz" style="background:black" href="/auth/github">
    <span class="fa fa-github fa-lg fa-fw"></span>
    Log in with Github
  </a>
</p>
<p class="signup-twitter">
  <a class="btn btn-block bg-google hvr-buzz" href="/auth/google" style="background:#a2001d">
    <span class="fa fa-google fa-lg fa-fw"></span>
    Log in with google
  </a>
</p>
