<div class="col-xs-6 col-md-3">
  <div class="pricing-card">
    <div class="pricing-card-header bg-default">
      <h4 class="m-y-sm">{{Name}}</h4>
    </div>
    <div class="pricing-card-body">
      <h2 class="pricing-card-price">
        <span class="pricing-card-currency">{{price}}</span>
      </h2>
      <ul class="pricing-card-details">
        <li {{dc}}>{{option}}</li>
        <li {{dc}}>{{option}}</li>
        <li {{dc}}>{{option}}</li>
      </ul>
      <label class="custom-control custom-control-default custom-radio">
        <input class="custom-control-input" type="radio" name="plan" value="plan" checked="checked">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-label">Choose this</span>
      </label>
    </div>
  </div>
</div>
