<div class="col-xs-12 col-sm-4">
  <div class="pricing-card">
    <div class="pricing-card-body">
      <h1 class="pricing-card-price">
        <span class="pricing-card-currency">{{price}}</span>
      </h1>
      <p class="pricing-card-text">{{deal}}</p>
      <ul class="pricing-card-details">
        <li {{dc}}>{{option}}</li>
        <li {{dc}}>{{option}}</li>
        <li {{dc}}>{{option}}</li>
      </ul>
      <a class="btn btn-primary btn-pill" href="{{JSV}}">Sign Up</a>
    </div>
  </div>
</div>
