<div class="col-xs-6 col-md-3">
  <div class="pricing-card">
    <div class="pricing-card-header bg-warning">
      <h1 class="pricing-card-price">
        <span class="pricing-card-currency">{{price}}</span>
      </h1>
    </div>
    <div class="pricing-card-body">
      <p class="pricing-card-text">
        <u>{{deal}}</u>
      </p>
      <ul class="pricing-card-details">
        <li {{dc}}>{{option}}</li>
        <li {{dc}}>{{option}}</li>
        <li {{dc}}>{{option}}</li>
      </ul>
      <a class="btn btn-warning btn-pill" href="{{JSV}}">Sign Up</a>
    </div>
  </div>
</div>
