<div class="gutter-xs col-xs-12 col-md-6" style="float:right">
    <div class="panel panel-body text-center" data-toggle="match-height">
      <div class="fh">
        <div class="fh-m">
          <small class="text-muted"><code>You can change the size of the element, border width, border radius, the icon and colors</code>.</small>
        </div>
      </div>
    </div>
</div>
