<div class="col-xs-12 col-sm-6 col-md-3 m-b-lg">
  <h5>Bold text</h5>
  <p>
    <strong>Roboto</strong> has been refined extensively to work across the wider set of supported platforms. It is slightly wider and rounder, giving it greater clarity and making it more optimistic.</p>
  <p>
    <strong>Roboto has six weights</strong>: Thin, Light, Regular, Medium, Bold, and Black.</p>
</div>
