<div class="col-xs-12 col-sm-6 col-md-3 m-b-lg">
  <h5>Deleted text</h5>
  <p>
    <del>Roboto has been refined extensively to work across the wider set of supported platforms. It is slightly wider and rounder, giving it greater clarity and making it more optimistic.</del>
  </p>
  <p>
    <del>Roboto has six weights: Thin, Light, Regular, Medium, Bold, and Black.</del>
  </p>
</div>
