<div class="row">
  <div class="col-md-6 col-md-offset-3 m-b-lg">
    <h1 {{dc}}>h1. Roboto
      <small>Standard typeface</small>
    </h1>
    <hr>
    <h2 {{dc}}>h2. Roboto
      <small>Standard typeface</small>
    </h2>
    <hr>
    <h3 {{dc}}>h3. Roboto
      <small>Standard typeface</small>
    </h3>
    <hr>
    <h4 {{dc}}>h4. Roboto
      <small>Standard typeface</small>
    </h4>
    <hr>
    <h5 {{dc}}>h5. Roboto
      <small>Standard typeface</small>
    </h5>
    <hr>
    <h6 {{dc}}>h6. Roboto
      <small>Standard typeface</small>
    </h6>
  </div>
</div>
