<div class="row">
  <div class="col-xs-12 col-md-6 m-b-lg">
    <blockquote class="text-primary">
      <p class="lorem0"></p>
      <small>{{Name}}</small>
    </blockquote>
  </div>
  <div class="col-xs-12 col-md-6 m-b-lg">
    <blockquote class="text-primary pull-right">
      <p class="lorem5"></p>
      <small>{{Name}}</small>
    </blockquote>
  </div>
</div>
