<div class="row">
  <div class="col-xs-12 col-md-4 m-b-lg">
    <p class="lor-s1">
      <mark class="lor-s4"></mark></p>
    <ul>
      <li>{{Subject}}</li>
      <li>{{Subject}}</li>
      <li>{{Subject}}</li>
    </ul>
  </div>
  <div class="col-xs-12 col-md-4 m-b-lg">
    <p class="lor-s0">
      <abbr title="Ethan Marcotte coined the term."></abbr></p>
    <ol>
      <li>{{Subject}}</li>
      <li>{{Subject}}</li>
      <li>{{Subject}}</li>
    </ol>
  </div>
  <div class="col-xs-12 col-md-4 m-b-lg">
    <ul class="list-unstyled">
      <li class="lor-s7">
        <ul>
          <li>{{Subject}}</li>
          <li>{{Subject}}</li>
          <li>{{Subject}}</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
