<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="well text-center" data-toggle="match-height">
      <p>
        <em class="lorem0"></em>
      </p>
      <p>
        <small  class="lor-s2"></small>
      </p>
      <strong class="lor-s5"></strong>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="well text-center" data-toggle="match-height">
      <p>
        <small class="lorem1"></small>
      </p>
      <span class="fa fa-chrome fa-2x"></span>
      <span class="fa fa-firefox fa-2x m-l"></span>
      <span class="fa fa-internet-explorer fa-2x m-l"></span>
      <span class="fa fa-opera fa-2x m-l"></span>
      <span class="fa fa-safari fa-2x m-l"></span>
    </div>
  </div>
</div>
