<div class="row">
  <div class="col-xs-12 col-md-6 m-b-lg">
    <blockquote class="text-danger">
      <p class="lorem2"></p>
      <img class="img-circle" width="48" height="48" src="{{avatar}}">
      <small class="d-ib">{{Name}}</small>
    </blockquote>
  </div>
  <div class="col-xs-12 col-md-6 m-b-lg">
    <blockquote class="text-danger pull-right">
      <p class="lorem3"></p>
      <small class="d-ib">{{Name}}</small>
      <img class="img-circle" width="48" height="48" src="{{avatar}}">
    </blockquote>
  </div>
</div>
