<div class="row">
  {% include "admin-includes/typography/_bold-text.njk" %}
  {% include "admin-includes/typography/_deleted-text.njk" %}
  {% include "admin-includes/typography/_underlined-text.njk" %}
  {% include "admin-includes/typography/_italicized-text.njk" %}
</div>
