<div class="demo-form-wrapper">
  <form class="form form-horizontal">
    <div class="form-group form-group-lg">
      <label class="col-sm-3 control-label" for="form-control-23">Custom select</label>
      <div class="col-sm-9">
        <select id="form-control-23" class="custom-select custom-select-lg">
          <option value="" selected="">{{Name}}</option>
          <option value="c-plus-plus">C++</option>
          <option value="css">{{Name}}</option>
          <option value="java">{{Name}}</option>
          <option value="javascript">{{Name}}</option>
          <option value="php">{{Name}}</option>
          <option value="python">{{Name}}</option>
          <option value="ruby">{{Name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-9 col-sm-offset-3">
        <select class="custom-select">
          <option value="" selected="">{{Name}}</option>
          <option value="c-plus-plus">{{Name}}</option>
          <option value="css">{{Name}}</option>
          <option value="java">{{Name}}</option>
          <option value="javascript">{{Name}}</option>
          <option value="php">{{Name}}</option>
          <option value="python">{{Name}}</option>
          <option value="ruby">{{Name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-9 col-sm-offset-3">
        <select class="custom-select custom-select-sm">
          <option value="" selected="">{{Name}}</option>
          <option value="c-plus-plus">{{Name}}</option>
          <option value="css">{{Name}}</option>
          <option value="java">{{Name}}</option>
          <option value="javascript">{{Name}}</option>
          <option value="php">{{Name}}</option>
          <option value="python">{{Name}}</option>
          <option value="ruby">{{Name}}</option>
        </select>
      </div>
    </div>
  </form>
</div>
