<div class="form-group">
  <label class="col-sm-3 control-label" for="form-control-8">Textarea</label>
  <div class="col-sm-9">
    <textarea id="form-control-8" class="form-control" rows="3"></textarea>
  </div>
</div>
