<div class="demo-form-wrapper">
  <form class="form form-horizontal">
    {% include "admin-includes/form-controls/_default-input.njk" %}
    {% include "admin-includes/form-controls/_default-select.njk" %}
    {% include "admin-includes/form-controls/_multi-select.njk" %}
    {% include "admin-includes/form-controls/_default-textarea.njk" %}
    {% include "admin-includes/form-controls/_default-file-input.njk" %}
    {% include "admin-includes/form-controls/_default-checkbox.njk" %}
  </form>
</div>
