<div class="form-group">
  <label class="col-sm-3 control-label" for="form-control-1">Text input</label>
  <div class="col-sm-9">
    <input id="form-control-1" class="form-control" type="text">
  </div>
</div>
<div class="form-group">
  <label class="col-sm-3 control-label" for="form-control-2">Password input</label>
  <div class="col-sm-9">
    <input id="form-control-2" class="form-control" type="password" value="test.1234">
  </div>
</div>
<div class="form-group">
  <label class="col-sm-3 control-label" for="form-control-3">Input with placeholder</label>
  <div class="col-sm-9">
    <input id="form-control-3" class="form-control" type="email" placeholder="Email Address">
  </div>
</div>
<div class="form-group">
  <label class="col-sm-3 control-label" for="form-control-4">Predefined value</label>
  <div class="col-sm-9">
    <input id="form-control-4" class="form-control" type="url" value="language:JavaScript">
  </div>
</div>
<div class="form-group">
  <label class="col-sm-3 control-label" for="form-control-5">Read only input</label>
  <div class="col-sm-9">
    <input id="form-control-5" class="form-control" type="email" value="{{email}}" readonly>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-3 control-label">Static input</label>
  <div class="col-sm-9">
    <p class="form-control-static">{{email}}</p>
  </div>
</div>
