<div class="form-group">
  <label class="col-sm-3 control-label" for="form-control-6">Select</label>
  <div class="col-sm-9">
    <select id="form-control-6" class="form-control">
      <option value="c-plus-plus">{{Name}}</option>
      <option value="css">{{Name}}</option>
      <option value="java">{{Name}}</option>
      <option value="javascript">{{Name}}</option>
      <option value="php">{{Name}}</option>
      <option value="python">{{Name}}</option>
      <option value="ruby">{{Name}}</option>
    </select>
  </div>
</div>
