<div class="demo-form-wrapper">
  <form class="form form-horizontal">
    <div class="form-group form-group-lg">
      <label class="col-sm-3 control-label" for="form-control-10">Large label</label>
      <div class="col-sm-9">
        <input id="form-control-10" class="form-control" type="text" placeholder="Large input">
      </div>
    </div>
    <div class="form-group form-group-md">
      <label class="col-sm-3 control-label" for="form-control-11">Default label</label>
      <div class="col-sm-9">
        <input id="form-control-11" class="form-control" type="text" placeholder="Default input">
      </div>
    </div>
    <div class="form-group form-group-sm">
      <label class="col-sm-3 control-label" for="form-control-12">Small label</label>
      <div class="col-sm-9">
        <input id="form-control-12" class="form-control" type="text" placeholder="Small input">
      </div>
    </div>
  </form>
</div>
