<h4>Disabled &amp; focused
  <small>Text field can show that it is disabled or focused.</small>
</h4>
<div class="demo-md-form-wrapper">
  <div class="md-form-group md-label-floating has-value is-disabled">
    <input class="md-form-control" type="email" value="{{email}}" disabled="disabled">
    <label class="md-control-label">Enter your email</label>
  </div>
  <div class="md-form-group md-label-floating has-value is-focused">
    <input class="md-form-control" type="email" value="{{email}}">
    <label class="md-control-label">Enter your email</label>
  </div>
</div>
