<div class="md-form-group">
  <select id="select1" class="md-form-control" name="birth_month">
  </select>
  <label class="md-control-label"></label>
</div>
<div class="md-form-group">
  <div class="row">
    <div class="col-xs-6">
      <div class="md-form-group">
        <select id="select2" class="md-form-control" name="birth_month">
          <option value="" disabled="disabled" selected="selected">Birth Month</option>
        </select>
        <label class="md-control-label"></label>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="md-form-group">
        <select id="select3" class="md-form-control" name="birth_day">
          <option value="" selected="selected" disabled="disabled">Day</option>
        </select>
        <label class="md-control-label"></label>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="md-form-group">
        <select id="select4" class="md-form-control" name="birth_year">
          <option value="" selected="selected" disabled="disabled">Year</option>
        </select>
        <label class="md-control-label"></label>
      </div>
    </div>
  </div>
</div>
