<h4>Help text
  <small>Helper text should appear below the text field.</small>
</h4>
<div class="demo-md-form-wrapper">
  <div class="md-form-group md-label-floating has-value">
    <input class="md-form-control" type="password" value="test.1234">
    <label class="md-control-label">Password</label>
    <small class="md-help-block">8-character minimum; case sensitive.</small>
  </div>
  <div class="md-form-group md-label-floating has-value">
    <textarea class="md-form-control" rows="3" maxlength="512">You look like toad...hi hi hi</textarea>
    <label class="md-control-label">Comment</label>
    <small class="md-help-block">The maximum length of your comment is 512 characters.</small>
  </div>
</div>
