<h4>Sizes
  <small>Text field can vary in size.</small>
</h4>
<div class="demo-md-form-wrapper">
  <div class="md-form-group md-form-group-sm md-label-floating">
    <input class="md-form-control" type="text">
    <label class="md-control-label">Text field with small size</label>
  </div>
  <div class="md-form-group md-label-floating">
    <input class="md-form-control" type="text">
    <label class="md-control-label">Text field with default size</label>
  </div>
  <div class="md-form-group md-form-group-lg md-label-floating">
    <input class="md-form-control" type="text">
    <label class="md-control-label">Text field with large size</label>
  </div>
</div>
