<h4>States
  <small>Validation styles for error, warning, and success states.</small>
</h4>
<div class="md-form-group md-label-floating has-value has-error">
  <input class="md-form-control" type="password" value="test">
  <label class="md-control-label">Password</label>
  <small class="md-help-block">Your password needs at least one number.</small>
</div>
<div class="md-form-group md-label-floating has-value has-warning">
  <input class="md-form-control" type="password" value="testtest">
  <label class="md-control-label">Password</label>
  <small class="md-help-block">Your password is weak. Try a mix of letters, numbers, and symbols.</small>
</div>
<div class="md-form-group md-label-floating has-value has-success">
  <input class="md-form-control" type="password" value="test.1234">
  <label class="md-control-label">Password</label>
  <small class="md-help-block">Your password is strong.</small>
</div>
