<div class="md-form-group">
  <input class="md-form-control" type="text" placeholder="Text field with placeholder">
  <label class="md-control-label"></label>
</div>
<div class="md-form-group md-label-floating">
  <input class="md-form-control" type="text">
  <label class="md-control-label">Text field with floating label</label>
</div>
<div class="md-form-group md-label-static">
  <input class="md-form-control" type="text">
  <label class="md-control-label">Text field with static label</label>
</div>
