<div class="row gutter-xs">
  <div class="col-xs-6 col-md-3">
    <div class="panel panel-body text-center" data-toggle="match-height">
      <h5>Avatar with child icon</h5>
      <p>
        <small class="text-muted">A small icon at the bottom right</small>
      </p>
      <div class="icon-with-child">
        <img class="circle" width="64" height="64" src="{{avatar}}">
        <span class="fa fa-envelope icon-child bg-primary circle sq-20"></span>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-md-3 col-md-push-6">
    <div class="panel panel-body text-center" data-toggle="match-height">
      <h5>Avatar with child icon</h5>
      <p>
        <small class="text-muted">A small icon at the bottom right</small>
      </p>
      <div class="icon-with-child">
        <img class="circle" width="64" height="64" src="{{avatar}}">
        <span class="fa fa-comments icon-child bg-danger circle sq-20"></span>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-md-3 col-md-pull-3">
    <div class="panel panel-body text-center" data-toggle="match-height">
      <h5>Avatar with child icon</h5>
      <p>
        <small class="text-muted">A small icon at the bottom right</small>
      </p>
      <div class="icon-with-child">
        <img class="circle" width="64" height="64" src="{{avatar}}">
        <span class="fa fa-facebook icon-child bg-facebook circle sq-20"></span>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-md-3 col-md-pull-3">
    <div class="panel panel-body text-center" data-toggle="match-height">
      <h5>Avatar with child icon</h5>
      <p>
        <small class="text-muted">A small icon at the bottom right</small>
      </p>
      <div class="icon-with-child">
        <img class="circle" width="64" height="64" src="{{avatar}}">
        <span class="fa fa-twitter icon-child bg-twitter circle sq-20"></span>
      </div>
    </div>
  </div>
</div>
