<div class="col-xs-6 col-md-4">
  <div class="panel panel-body text-center" data-toggle="match-height">
    <h5>Icon with square container (circle)</h5>
    <p>
      <small class="text-muted">Which can be used perfectly for social buttons</small>
    </p>
    <a class="bg-twitter circle sq-36" href="#">
      <span class="fa fa-twitter"></span>
    </a>
    <a class="bg-facebook circle sq-36" href="#">
      <span class="fa fa-facebook"></span>
    </a>
    <a class="bg-googleplus circle sq-36" href="#">
      <span class="fa fa-google-plus"></span>
    </a>
    <a class="bg-pinterest circle sq-36" href="#">
      <span class="fa fa-pinterest-p"></span>
    </a>
    <a class="bg-linkedin circle sq-36" href="#">
      <span class="fa fa-linkedin"></span>
    </a>
    <a class="bg-dribbble circle sq-36" href="#">
      <span class="fa fa-dribbble"></span>
    </a>
  </div>
</div>
