<div class="col-xs-12 col-md-4">
  <div class="panel panel-body text-center" data-toggle="match-height">
    <div class="fh">
      <div class="fh-m">
        <span class="fa fa-flag fa-lg"></span>
        <span class="fa fa-flag fa-2x"></span>
        <span class="fa fa-flag fa-3x"></span>
        <span class="fa fa-flag fa-4x"></span>
        <span class="fa fa-flag fa-5x"></span>
      </div>
    </div>
  </div>
</div>
