<div class="col-xs-6 col-md-4">
  <div class="panel panel-body text-center" data-toggle="match-height">
    <h5>Icon with square container (rounded)</h5>
    <p>
      <small class="text-muted">Which can be used perfectly for social icons</small>
    </p>
    <span class="bg-twitter rounded sq-36">
      <span class="fa fa-twitter"></span>
    </span>
    <span class="bg-facebook rounded sq-36">
      <span class="fa fa-facebook"></span>
    </span>
    <span class="bg-googleplus rounded sq-36">
      <span class="fa fa-google-plus"></span>
    </span>
    <span class="bg-pinterest rounded sq-36">
      <span class="fa fa-pinterest-p"></span>
    </span>
    <span class="bg-linkedin rounded sq-36">
      <span class="fa fa-linkedin"></span>
    </span>
    <span class="bg-dribbble rounded sq-36">
      <span class="fa fa-dribbble"></span>
    </span>
  </div>
</div>
