<div class="row gutter-xs">
{% include "admin-includes/icons/_layered-flag.njk" %}
{% include "admin-includes/icons/_layered-square.njk" %}
{% include "admin-includes/icons/_layered-round.njk" %}
</div>
