<div class="row gutter-xs">
  <div class="col-xs-6 col-md-3">
    <div class="panel panel-body text-center" data-toggle="match-height">
      <h5>Parent-child icons</h5>
      <p>
        <small class="text-muted">Icon with a small icon at the bottom right</small>
      </p>
      <span class="icon-with-child">
        <span class="bg-pinterest circle sq-64 fa fa-pinterest-p"></span>
        <span class="bg-pinterest circle sq-20 fa fa-thumb-tack icon-child"></span>
      </span>
    </div>
  </div>
  <div class="col-xs-6 col-md-3 col-md-push-6">
    <div class="panel panel-body text-center" data-toggle="match-height">
      <h5>Parent-child icons</h5>
      <p>
        <small class="text-muted">Icon with a small icon at the bottom right</small>
      </p>
      <span class="icon-with-child">
        <span class="bg-linkedin circle sq-64 fa fa-linkedin"></span>
        <span class="bg-linkedin circle sq-20 fa fa-flag icon-child"></span>
      </span>
    </div>
  </div>
  <div class="col-xs-6 col-md-3 col-md-pull-3">
    <div class="panel panel-body text-center" data-toggle="match-height">
      <h5>Parent-child icons</h5>
      <p>
        <small class="text-muted">Icon with a small icon at the bottom right</small>
      </p>
      <span class="icon-with-child">
        <span class="bg-primary circle sq-64 fa fa-cc-visa"></span>
        <span class="bg-primary circle sq-20 fa fa-check icon-child"></span>
      </span>
    </div>
  </div>
  <div class="col-xs-6 col-md-3 col-md-pull-3">
    <div class="panel panel-body text-center" data-toggle="match-height">
      <h5>Parent-child icons</h5>
      <p>
        <small class="text-muted">Icon with a small icon at the bottom right</small>
      </p>
      <span class="icon-with-child">
        <span class="bg-primary circle sq-64 fa fa-cc-visa"></span>
        <span class="bg-warning circle sq-20 fa fa-exclamation-triangle icon-child"></span>
      </span>
    </div>
  </div>
</div>
