<div class="text-center m-b">
  <h3 class="m-b-0" {{dc}}>Default type</h3>
  <small>Bootstrap button elements.</small>
</div>
<div class="row gutter-xs">
  <div class="col-xs-6 col-md-3">
    <div class="panel panel-body text-center" data-toggle="match-height">
      <h5>Default button</h5>
      <p>
        <small class="text-muted">Simply use class <code>btn-default</code></small>
      </p>
      <button class="btn btn-default" type="button">Oh Hi, Folks!</button>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="panel panel-body text-center" data-toggle="match-height">
      <h5>Primary button</h5>
      <p>
        <small class="text-muted">Simply use class <code>btn-primary</code></small>
      </p>
      <button class="btn btn-primary" type="button">Oh Hi, Folks!</button>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="panel panel-body text-center" data-toggle="match-height">
      <h5>Success button</h5>
      <p>
        <small class="text-muted">Simply use class <code>btn-success</code></small>
      </p>
      <button class="btn btn-success" type="button">Oh Hi, Folks!</button>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="panel panel-body text-center" data-toggle="match-height">
      <h5>Info button</h5>
      <p>
        <small class="text-muted">Simply use class <code>btn-info</code></small>
      </p>
      <button class="btn btn-info" type="button">Oh Hi, Folks!</button>
    </div>
  </div>
</div>
<div class="row gutter-xs">
  <div class="col-xs-6 col-md-3">
    <div class="panel panel-body text-center" data-toggle="match-height">
      <h5>Warning button</h5>
      <p>
        <small class="text-muted">Simply use class <code>btn-warning</code></small>
      </p>
      <button class="btn btn-warning" type="button">Oh Hi, Folks!</button>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="panel panel-body text-center" data-toggle="match-height">
      <h5>Danger button</h5>
      <p>
        <small class="text-muted">Simply use class <code>btn-danger</code></small>
      </p>
      <button class="btn btn-danger" type="button">Oh Hi, Folks!</button>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="panel panel-body text-center" data-toggle="match-height">
      <h5>Danger outline button</h5>
      <p>
        <small class="text-muted">Simply use class <code>btn-outline-danger</code></small>
      </p>
      <button class="btn btn-outline-danger" type="button">Oh Hi, Folks!</button>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="panel panel-body text-center" data-toggle="match-height">
      <h5>Danger outline button</h5>
      <p>
        <small class="text-muted">Simply use class <code>btn-outline-warning</code></small>
      </p>
      <button class="btn btn-outline-warning" type="button">Oh Hi, Folks!</button>
    </div>
  </div>
</div>
<div class="row gutter-xs">
  <div class="col-xs-6 col-md-3">
    <div class="panel panel-body text-center" data-toggle="match-height">
      <h5>Info outline button</h5>
      <p>
        <small class="text-muted">Simply use class <code>btn-outline-info</code></small>
      </p>
      <button class="btn btn-outline-info" type="button">Oh Hi, Folks!</button>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="panel panel-body text-center" data-toggle="match-height">
      <h5>Success outline button</h5>
      <p>
        <small class="text-muted">Simply use class <code>btn-outline-success</code></small>
      </p>
      <button class="btn btn-outline-success" type="button">Oh Hi, Folks!</button>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="panel panel-body text-center" data-toggle="match-height">
      <h5>Primary outline button</h5>
      <p>
        <small class="text-muted">Simply use class <code>btn-outline-primary</code></small>
      </p>
      <button class="btn btn-outline-primary" type="button">Oh Hi, Folks!</button>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="panel panel-body text-center" data-toggle="match-height">
      <h5>Default outline button</h5>
      <p>
        <small class="text-muted">Simply use class <code>btn-outline-default</code></small>
      </p>
      <button class="btn btn-outline-default" type="button">Oh Hi, Folks!</button>
    </div>
  </div>
</div>
