<div class="text-center m-b">
  <h3 class="m-b-0" {{dc}}>Labeled buttons</h3>
  <small>Buttons of any size or variant may be added an additional label as in examples presented below.</small>
</div>
<div class="row gutter-xs">
  <div class="col-xs-6 col-md-3">
    <div class="panel panel-body text-center" data-toggle="match-height">
      <h5>Labeled button</h5>
      <p>
        <small class="text-muted">Button with label and arrow</small>
      </p>
      <button class="btn btn-danger btn-sm btn-labeled" type="button">
        <span class="btn-label arrow-right arrow-outline-danger">2.1m</span>
        <span class="fa fa-heart fa-fw"></span>
        Like
      </button>
    </div>
  </div>
  <div class="col-xs-6 col-md-3 col-md-push-6">
    <div class="panel panel-body text-center" data-toggle="match-height">
      <h5>Labeled button</h5>
      <p>
        <small class="text-muted">Button with label and arrow</small>
      </p>
      <button class="btn btn-danger btn-sm btn-labeled" type="button">
        <span class="fa fa-heart fa-fw"></span>
        Like
        <span class="btn-label btn-label-right arrow-left arrow-outline-danger">2.1m</span>
      </button>
    </div>
  </div>
  <div class="col-xs-6 col-md-3 col-md-pull-3">
    <div class="panel panel-body text-center" data-toggle="match-height">
      <h5>Labeled button</h5>
      <p>
        <small class="text-muted">Button with label and arrow</small>
      </p>
      <button class="btn btn-primary btn-sm btn-labeled" type="button">
        <span class="fa fa-star fa-lg fa-fw"></span>
        Star
        <span class="btn-label btn-label-right arrow-left arrow-outline-primary">9,831</span>
      </button>
    </div>
  </div>
  <div class="col-xs-6 col-md-3 col-md-pull-3">
    <div class="panel panel-body text-center" data-toggle="match-height">
      <h5>Labeled button</h5>
      <p>
        <small class="text-muted">Button with label and arrow</small>
      </p>
      <button class="btn btn-primary btn-sm btn-labeled" type="button">
        <span class="fa fa-code-fork fa-lg fa-fw"></span>
        Fork
        <span class="btn-label btn-label-right arrow-left arrow-outline-primary">2,337</span>
      </button>
    </div>
  </div>
</div>
<div class="row gutter-xs">
  <div class="col-xs-6 col-md-3">
    <div class="panel panel-body text-center" data-toggle="match-height">
      <h5>Labeled button</h5>
      <p>
        <small class="text-muted">Button with label and arrow</small>
      </p>
      <a class="btn btn-sm btn-labeled arrow-right arrow-success" href="#">
        <span class="btn-label">
          <span class="fa fa-shopping-cart fa-lg fa-fw"></span>
        </span>
        Add to cart
      </a>
    </div>
  </div>
  <div class="col-xs-6 col-md-3 col-md-push-6">
    <div class="panel panel-body text-center" data-toggle="match-height">
      <h5>Labeled button</h5>
      <p>
        <small class="text-muted">Button with label and arrow</small>
      </p>
      <a class="btn btn-sm btn-labeled arrow-left arrow-success" href="#">
        Add to cart
        <span class="btn-label btn-label-right">
          <span class="fa fa-shopping-cart fa-lg fa-fw"></span>
        </span>
      </a>
    </div>
  </div>
  <div class="col-xs-6 col-md-3 col-md-pull-3">
    <div class="panel panel-body text-center" data-toggle="match-height">
      <h5>Labeled button</h5>
      <p>
        <small class="text-muted">Button with label</small>
      </p>
      <button class="btn btn-danger btn-sm btn-labeled" type="button">
        <span class="btn-label">
          <span class="fa fa-download fa-lg fa-fw"></span>
        </span>
        Download ZIP
      </button>
    </div>
  </div>
  <div class="col-xs-6 col-md-3 col-md-pull-3">
    <div class="panel panel-body text-center" data-toggle="match-height">
      <h5>Labeled button</h5>
      <p>
        <small class="text-muted">Button with label</small>
      </p>
      <button class="btn btn-danger btn-sm btn-labeled" type="button">
        <span class="fa fa-youtube-play fa-lg fa-fw"></span>
        Subscribe
        <span class="btn-label btn-label-right">9,233</span>
      </button>
    </div>
  </div>
</div>
