<div class="text-center m-b">
  <h3 class="m-b-0" {{dc}}>Sizes</h3>
  <small>The button of any variant can have different sizes.</small>
</div>
<div class="row gutter-xs">
  <div class="col-xs-6 col-md-3">
    <div class="panel panel-body text-center" data-toggle="match-height">
      <h5>Large button</h5>
      <p>
        <small class="text-muted">Simply use class <code>btn-lg</code></small>
      </p>
      <button class="btn btn-primary btn-lg" type="button">Oh Hi, Folks!</button>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="panel panel-body text-center" data-toggle="match-height">
      <h5>Default button</h5>
      <p>
        <small class="text-muted">No class required for default size.</small>
      </p>
      <button class="btn btn-primary" type="button">Oh Hi, Folks!</button>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="panel panel-body text-center" data-toggle="match-height">
      <h5>Small button</h5>
      <p>
        <small class="text-muted">Simply use class <code>btn-sm</code></small>
      </p>
      <button class="btn btn-primary btn-sm" type="button">Oh Hi, Folks!</button>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="panel panel-body text-center" data-toggle="match-height">
      <h5>Extra small button</h5>
      <p>
        <small class="text-muted">Simply use class <code>btn-xs</code></small>
      </p>
      <button class="btn btn-primary btn-xs" type="button">Oh Hi, Folks!</button>
    </div>
  </div>
</div>
<div class="row gutter-xs">
  <div class="col-xs-6 col-md-3">
    <div class="panel panel-body text-center" data-toggle="match-height">
      <h5>Pill button</h5>
      <p>
        <small class="text-muted">Simply use class <code>btn-pill</code></small>
      </p>
      <button class="btn btn-outline-primary btn-pill" type="button">Oh Hi, Folks!</button>
    </div>
  </div>
  <div class="col-xs-6 col-md-3 col-md-push-6">
    <div class="panel panel-body text-center" data-toggle="match-height">
      <h5>Pill button (thick)</h5>
      <p>
        <small class="text-muted">Simply use class <code>btn-thick</code></small>
      </p>
      <button class="btn btn-outline-primary btn-thick btn-pill" type="button">Oh Hi, Folks!</button>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 col-md-pull-3">
    <div class="panel panel-body text-center" data-toggle="match-height">
      <div class="fh">
        <div class="fh-m p-y-md">
          <small class="text-muted">Buttons of any size or variant can become more than rounded by using <code>btn-pill</code> class, whilst if <code>btn-thick</code> class is added it becomes more pronounced.</small>
        </div>
      </div>
    </div>
  </div>
</div>
