<div class="col-xs-6 col-md-6">
  <div class="panel panel-body text-center" data-toggle="match-height">
    <h5>Fixed maximum [
      <span id="slider-target-4"></span>, 100.00]</h5>
    <p>
      <small class="text-muted">The user can only select a minimum.</small>
    </p>
    <div class="slider slider-circle" data-slider="danger" data-start="40" data-step="1" data-target="#slider-target-4" data-connect="upper"></div>
  </div>
</div>
