<div class="col-xs-6 col-md-3">
  <div class="panel panel-body text-center" data-toggle="match-height">
    <h5>Default slider</h5>
    <p>
      <small class="text-muted">Horizontal slider with a single handle.</small>
    </p>
    <div class="slider" data-slider="default" data-start="80"></div>
  </div>
</div>
