<div class="col-xs-12 col-md-8">
  <div class="panel panel-body eq text-center">
    <div class="demo-model">
      <div id="demo-slider-2" class="demo-model-slider slider slider-circle"></div>
      <img id="demo-slider-2-img" class="demo-model-img" src="{{avatar}}">
    </div>
  </div>
</div>
