<div class="col-xs-12 col-md-4">
  <div class="panel panel-body text-center" data-toggle="match-height">
    <div class="demo-slider-vertical slider" data-slider="default" data-start="0" data-orientation="vertical"></div>
    <div class="demo-slider-vertical slider" data-slider="primary" data-start="10" data-orientation="vertical"></div>
    <div class="demo-slider-vertical slider" data-slider="success" data-start="20" data-orientation="vertical"></div>
    <div class="demo-slider-vertical slider" data-slider="info" data-start="30" data-orientation="vertical"></div>
    <div class="demo-slider-vertical slider" data-slider="warning" data-start="40" data-orientation="vertical"></div>
    <div class="demo-slider-vertical slider" data-slider="danger" data-start="50" data-orientation="vertical"></div>
  </div>
</div>
