<div class="col-xs-6 col-md-6">
  <div class="panel panel-body text-center" data-toggle="match-height">
    <h5>Fixed dragging [
      <span id="slider-target-5"></span>,
      <span id="slider-target-6"></span>]</h5>
    <p>
      <small class="text-muted">Keeps the distance between handles fixed.</small>
    </p>
    <div class="slider slider-circle" data-slider="danger" data-start="[40, 60]" data-step="1" data-target='["#slider-target-5", "#slider-target-6"]' data-connect="true" data-behaviour="drag-fixed"></div>
  </div>
</div>
