<div class="col-xs-6 col-md-3">
  <div class="panel panel-body text-center" data-toggle="match-height">
    <h5>Range slider [
      <span id="slider-target-2"></span>,
      <span id="slider-target-3"></span>]</h5>
    <p>
      <small class="text-muted">Horizontal slider with two drag handles.</small>
    </p>
    <div class="slider slider-circle" data-slider="danger" data-start="[20, 40]" data-step="1" data-target='["#slider-target-2", "#slider-target-3"]' data-connect="true"></div>
  </div>
</div>
