<div class="theme-panel-footer">
  <a class="rounded sq-36 bg-facebook" href="#" title="Share on Facebook" target="_blank">
    <span class="fa fa-facebook"></span>
  </a>
  <a class="rounded sq-36 bg-twitter" href="#" title="Tweet" target="_blank">
    <span class="fa fa-twitter"></span>
  </a>
  <a class="rounded sq-36 bg-googleplus" href="#" title="Share on Google+" target="_blank">
    <span class="fa fa-google-plus"></span>
  </a>
  <a class="rounded sq-36 bg-linkedin" href="#" title="Share on LinkedIn" target="_blank">
    <span class="fa fa-linkedin"></span>
  </a>
  <a class="rounded sq-36 bg-pinterest" href="#." title="Pin it" target="_blank">
    <span class="fa fa-pinterest-p"></span>
  </a>
  <a class="rounded sq-36 bg-default" href="#" title="Send email" target="_blank">
    <span class="fa fa-envelope-o"></span>
  </a>
</div>
