<div class="theme-panel-controls">
  <button class="theme-panel-toggler" title="Expand theme panel ( ] )" type="button">
    <span class="fa fa-cog icon-spin" aria-hidden="true"></span>
  </button>
</div>
