<ul class="theme-settings">
  <li class="theme-settings-heading">
    <div class="divider">
      <div class="divider-content">Settings</div>
    </div>
  </li>
  <li class="theme-settings-item">
    <div class="theme-settings-label">Header fixed</div>
    <div class="theme-settings-switch">
      <label class="switch switch-primary">
        <input class="switch-input" type="checkbox" name="layout-header-fixed" data-sync="true">
        <span class="switch-track"></span>
        <span class="switch-thumb"></span>
      </label>
    </div>
  </li>
  <li class="theme-settings-item">
    <div class="theme-settings-label">Sidebar fixed</div>
    <div class="theme-settings-switch">
      <label class="switch switch-primary">
        <input class="switch-input" type="checkbox" name="layout-sidebar-fixed" data-sync="true">
        <span class="switch-track"></span>
        <span class="switch-thumb"></span>
      </label>
    </div>
  </li>
  <li class="theme-settings-item">
    <div class="theme-settings-label">Sidebar sticky*</div>
    <div class="theme-settings-switch">
      <label class="switch switch-primary">
        <input class="switch-input" type="checkbox" name="layout-sidebar-sticky" data-sync="true">
        <span class="switch-track"></span>
        <span class="switch-thumb"></span>
      </label>
    </div>
  </li>
  <li class="theme-settings-item">
    <div class="theme-settings-label">Sidebar collapsed</div>
    <div class="theme-settings-switch">
      <label class="switch switch-primary">
        <input class="switch-input" type="checkbox" name="layout-sidebar-collapsed" data-sync="false">
        <span class="switch-track"></span>
        <span class="switch-thumb"></span>
      </label>
    </div>
  </li>
  <li class="theme-settings-item">
    <div class="theme-settings-label">Footer fixed</div>
    <div class="theme-settings-switch">
      <label class="switch switch-primary">
        <input class="switch-input" type="checkbox" name="layout-footer-fixed" data-sync="true">
        <span class="switch-track"></span>
        <span class="switch-thumb"></span>
      </label>
    </div>
  </li>
</ul>
