<div class="col-xs-12 col-md-4">
  <div class="panel panel-body text-center" data-toggle="match-height">
    <h5>Spinner with an input field</h5>
    <p>
      <small class="text-muted">An input field can show that it is currently loading data.</small>
    </p>
    <div class="input-with-icon">
      <input type="text" class="form-control" placeholder="Search&hellip;">
      <span class="spinner spinner-default spinner-sm input-icon"></span>
    </div>
  </div>
</div>
