<div class="col-xs-12 col-md-4">
  <div class="panel panel-body text-center" data-toggle="match-height">
    <h5>Spinner with default button</h5>
    <p>
      <small class="text-muted">A button can show a loading indicator.</small>
    </p>
    <button class="btn btn-default" type="submit">Save changes</button>
    <button class="btn btn-default spinner spinner-inverse spinner-sm" type="submit">Save changes</button>
  </div>
</div>
