<div class="col-xs-6 col-md-3">
  <div class="panel panel-body text-center fh" data-toggle="match-height">
    <div class="fh-m">
      <span class="arrow-primary border rounded pos-r sq-64">
        <span class="arrow-up arrow-primary left"></span>
        <span class="arrow-up arrow-primary right"></span>
        <span class="arrow-down arrow-primary left"></span>
        <span class="arrow-down arrow-primary right"></span>
      </span>
    </div>
  </div>
</div>
