<div class="col-xs-6 col-md-3 col-md-push-6">
  <div class="panel panel-body text-center fh" data-toggle="match-height">
    <div class="fh-m">
      <span class="arrow-primary border rounded pos-r sq-64">
        <span class="arrow-left arrow-primary top"></span>
        <span class="arrow-left arrow-primary bottom"></span>
        <span class="arrow-right arrow-primary top"></span>
        <span class="arrow-right arrow-primary bottom"></span>
      </span>
    </div>
  </div>
</div>
