<div class="row gutter-xs">
  <div class="col-xs-12 col-md-6">
    <div class="panel panel-body text-center" data-toggle="match-height">
      <h5>Arrow with hover state</h5>
      <p>
        <small class="text-muted">Arrows with hover state, but only for links</small>
      </p>
      <a href="#" class="arrow-left arrow-default border rounded pos-r sq-36 m-l"></a>
      <a href="#" class="arrow-left arrow-success border rounded pos-r sq-36 m-l"></a>
      <a href="#" class="arrow-left arrow-warning border rounded pos-r sq-36 m-l"></a>
      <a href="#" class="arrow-right arrow-outline-warning border rounded pos-r sq-36 m-l"></a>
      <a href="#" class="arrow-right arrow-outline-success border rounded pos-r sq-36 m-l"></a>
      <a href="#" class="arrow-right arrow-outline-default border rounded pos-r sq-36 m-l"></a>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="panel panel-body text-center" data-toggle="match-height">
      <div class="fh">
        <div class="fh-m p-y-lg">
          <small class="text-muted">It is sufficient for the element with the arrow element injected to have a relative position, while colour of the background, the border and text benefit from the arrow injected into it.</small>
        </div>
      </div>
    </div>
  </div>
</div>
