<div class="col-xs-6 col-md-3 col-md-pull-3">
  <div class="panel panel-body text-center" data-toggle="match-height">
    <h5>Default arrow (center)</h5>
    <p>
      <small class="text-muted">No class required for default size.</small>
    </p>
    <span class="arrow-left arrow-primary border rounded pos-r sq-36"></span>
  </div>
</div>
