<div class="col-xs-6 col-md-3 col-md-push-0">
  <div class="panel panel-body text-center" data-toggle="match-height">
    <h5>Large arrow (center)</h5>
    <p>
      <small class="text-muted">Simply use class <code>arrow-lg</code></small>
    </p>
    <span class="arrow-up arrow-primary arrow-lg border rounded pos-r sq-36"></span>
  </div>
</div>
