<div class="col-xs-12 col-md-6">
  <div class="panel arrow-right arrow-outline-danger arrow-lg pos-r">
    <div class="panel-body text-center" data-toggle="match-height">
      <h5>Panel with arrow</h5>
      <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, eaque totam cupiditate, debitis magni ipsa nostrum perspiciatis omnis, dignissimos mollitia deleniti expedita.</small>
    </div>
  </div>
</div>
