<div class="col-xs-6 col-md-3 col-md-push-6">
  <div class="panel panel-body text-center" data-toggle="match-height">
    <h5>Small arrow (center)</h5>
    <p>
      <small class="text-muted">Simply use class <code>arrow-sm</code></small>
    </p>
    <span class="arrow-down arrow-primary arrow-sm border rounded pos-r sq-36"></span>
  </div>
</div>
