<div class="row gutter-xs">
  <div class="col-sm-6">
    <div class="row gutter-xs">
      <div class="col-md-6">

        <div class="card">
          <div class="card-header no-border">
            <div class="media">
              <div class="media-middle media-left">
                <a href="{{JSV}}">
                  <img class="media-object img-circle" width="32" height="32" src="{{avatar}}">
                </a>
              </div>
              <div class="media-middle media-body">
                <em class="text-muted">by</em>
                <a class="link-muted" href="{{JSV}}">
                  <strong>{{Name}}</strong>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h4 class="card-title fw-l">
              <a class="link-muted lor-s0" href="#"><span class="nowrap">{{address}}</span></a>
            </h4>
            <small>Esse quibusdam voluptatibus quos, unde minima incidunt voluptatum hic plip</small>
          </div>
        </div>

        <div class="card">
          <div class="card-image">
            <img class="card-img img-responsive" src="{{avatar}}">
          </div>
        </div>

        <div class="card">
          <div class="card-footer no-border">
            <small>
              <span class="fa fa-map-marker">{{address}}</span>
            </small>
          </div>
        </div>

      </div>
      <div class="col-md-6">

        <div class="card">
          <div class="card-header">
            <div class="media">
              <div class="media-middle media-left">
                <a href="{{JSV}}">
                  <img class="media-object img-circle" width="32" height="32" src="{{avatar}}">
                </a>
              </div>
              <div class="media-middle media-body">
                <em class="text-muted">by</em>
                <a class="link-muted" href="#">
                  <strong>{{Name}}</strong>
                </a>
              </div>
            </div>
          </div>
          <div class="card-image">
            <img class="card-img-bottom img-responsive" src="{{avatar}}">
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <small>
              <span class="fa fa-map-marker"></span>
              {{address}}
            </small>
          </div>
          <div class="card-body">
            <h4 class="card-title fw-l">
              <a class="link-muted lor-s4" href="{{JSV}}"> <span class="nowrap">{{address}}</span></a>
            </h4>
            <small>Esse quibusdam voluptatibus quos, unde minima incidunt distinctio</small>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="row gutter-xs">
      <div class="col-md-6">

        <div class="card">
          <div class="card-body">
            <h4 class="card-title fw-l">
              <a class="link-muted lor-s5" href="{{JSV}}"> <span class="nowrap">{{address}}</span></a>
            </h4>
            <small>unde minima incidunt voluptatum hic pariatur non eum qui </small>
          </div>
          <div class="card-footer">
            <div class="media">
              <div class="media-middle media-left">
                <a href="#">
                  <img class="media-object img-circle" width="32" height="32" src="{{avatar}}">
                </a>
              </div>
              <div class="media-middle media-body">
                <em class="text-muted">by</em>
                <a class="link-muted" href="{{JSV}}">
                  <strong>{{Name}}</strong>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-image">
            <img class="card-img-top img-responsive" src="{{avatar}}">
          </div>
          <div class="card-footer">
            <small>
              <span class="fa fa-map-marker"></span>
              {{address}}
            </small>
          </div>
        </div>

      </div>
      <div class="col-md-6">

        <div class="card">
          <div class="card-header">
            <div class="media">
              <div class="media-middle media-left">
                <a href="{{JSV}}">
                  <img class="media-object img-circle" width="32" height="32" src="{{avatar}}">
                </a>
              </div>
              <div class="media-middle media-body">
                <em class="text-muted">by</em>
                <a class="link-muted" href="{{JSV}}">
                  <strong>{{Name}}</strong>
                </a>
              </div>
            </div>
          </div>
          <div class="card-image">
            <img class="img-responsive" src="{{avatar}}">
          </div>
          <div class="card-body">
            <h4 class="card-title fw-l">
              <a class="link-muted lor-s0" href="{{JSV}}"> <span class="nowrap">{{address}}</span></a>
            </h4>
            <small>incidunt voluptatum hic pariatur vero sequi distinctio non eum qui soluta saepe&hellip;</small>
          </div>
          <div class="card-footer">
            <small>
              <span class="fa fa-map-marker"></span>
              {{address}}
            </small>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
