<div class="row gutter-xs">
  <div class="col-sm-6 col-md-3">
    <div class="card">
      <a class="card-img overlay overlay-hover" href="{{JSV}}">
        <div class="overlay-gradient">
          <img class="card-img img-responsive" src="{{avatar}}">
        </div>
        <div class="overlay-content">
          <div class="overlay-content overlay-top">
            <h4 class="overlay-title lor-s0">
            </h4>
          </div>
          <div class="overlay-content overlay-bottom overlay-slide-up">
            <div class="media">
              <div class="media-left media-middle">
                <img class="media-object img-circle" width="32" height="32" src="{{avatar}}">
              </div>
              <div class="media-body media-middle">
                <em>by</em>
                <strong>{{Name}}</strong>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card">
      <a class="card-img overlay overlay-hover" href="{{JSV}}">
        <div class="overlay-gradient">
          <img class="card-img img-responsive" src="{{avatar}}">
        </div>
        <div class="overlay-content">
          <div class="overlay-content overlay-top overlay-slide-right">
            <h4 class="overlay-title lor-s2">
            </h4>
          </div>
          <div class="overlay-content overlay-bottom">
            <div class="media">
              <div class="media-left media-middle">
                <img class="media-object img-circle" width="32" height="32" src="{{avatar}}">
              </div>
              <div class="media-body media-middle">
                <em>by</em>
                <strong>{{Name}}</strong>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card text-center">
      <a class="card-img overlay overlay-hover" href="{{JSV}}">
        <div class="overlay-gradient">
          <img class="card-img img-responsive" src="{{avatar}}">
        </div>
        <div class="overlay-content">
          <div class="overlay-content overlay-slide-left">
            <div class="fh">
              <div class="fh-m">
                <ul class="list-inline">
                  <li>
                    <span class="fa fa-heart"></span>
                    102k
                  </li>
                  <li>
                    <span class="fa fa-comment"></span>
                    285
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card text-center">
      <a class="card-img overlay overlay-hover" href="{{JSV}}">
        <div class="overlay-gradient">
          <img class="card-img img-responsive" src="{{avatar}}">
        </div>
        <div class="overlay-content">
          <div class="overlay-content overlay-slide-right">
            <div class="fh">
              <div class="fh-m">
                <ul class="list-inline">
                  <li>
                    <span class="fa fa-heart"></span>
                    102k
                  </li>
                  <li>
                    <span class="fa fa-comment"></span>
                    285
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
