<div class="col-md-4">
  <div class="card text-center">
    <div class="card-image">
      <a class="card-link" href="{{JSV}}">
        <img class="card-img-top img-responsive" src="{{avatar}}">
      </a>
    </div>
    <div class="card-avatar">
      <a class="card-thumbnail rounded sq-100" href="{{JSV}}">
        <img class="img-responsive" src="{{avatar}}">
      </a>
    </div>
    <div class="card-body">
      <h3 class="card-title">{{Name}}</h3>
      <h6 class="card-subtitle">{{Name}}</h6>
      <p class="card-text lor-s0"></p>
      <ul class="list-inline m-a-0">
        <li>
          <a class="link-muted" href="{{JSV}}">
            <span class="fa fa-twitter fa-2x"></span>
          </a>
        </li>
        <li>
          <a class="link-muted" href="{{JSV}}">
            <span class="fa fa-facebook-official fa-2x"></span>
          </a>
        </li>
        <li>
          <a class="link-muted" href="{{JSV}}">
            <span class="fa fa-linkedin fa-2x"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
