<div class="col-md-4">
  <div class="card">
    <div class="card-header">
      <div class="media">
        <div class="media-middle media-left">
          <a href="{{JSV}}">
            <img class="media-object img-circle" width="32" height="32" src="{{avatar}}">
          </a>
        </div>
        <div class="media-middle media-body">
          <a class="link-muted" href="#">
            <strong>{{Name}}</strong>
          </a>
          shared
          <a class="link-muted" href="{{JSV}}">
            <strong class="lor-s5"></strong>
          </a>
        </div>
      </div>
    </div>
    <div class="card-image">
      <a class="card-link" href="{{JSV}}">
        <img class="img-responsive" src="{{avatar}}">
      </a>
    </div>
    <div class="card-avatar">
      <a class="card-thumbnail circle sq-80" href="{{JSV}}">
        <img class="img-circle img-responsive" src="{{avatar}}">
      </a>
    </div>
    <div class="card-body">
      <h4 class="card-title text-center lor-s8"></h4>
      <p class="card-text text-center">
        <small class="lor-s3"></small>
      </p>
    </div>
  </div>
</div>
