<div class="col-md-4">
  <div class="card text-center">
    <div class="card-image">
      <div class="overlay">
        <div class="overlay-gradient">
          <img class="card-img-top img-responsive" src="{{avatar}}">
        </div>
        <div class="overlay-content">
          <div class="pull-right">
            <button class="btn btn-success" type="button">Install</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-avatar">
      <a class="card-thumbnail rounded sq-100" href="{{JSV}}">
        <img class="img-responsive" src="{{avatar}}">
      </a>
    </div>
    <div class="card-body">
      <h3 class="card-title">Instagram</h3>
      <p class="card-text">
        <span class="app-rating">
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star-half-o"></span>
        </span>
        <span class="app-users">
          33,605,152
          <span class="fa fa-user"></span>
        </span>
      </p>
      <p class="card-text lor-s0"></p>
      <p class="card-text">
        <span class="fa fa-info-circle"></span>
        <small class="lor-s7"></small>
      </p>
    </div>
  </div>
</div>
