<div class="dropdown-menu dropdown-menu-right p-a">
  <div class="custom-controls-stacked">
    <label class="custom-control custom-control-primary custom-radio">
      <input class="custom-control-input" name="aspectRatio" type="radio" value="1.7777777777777777">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-label">Aspect ratio 16:9</span>
    </label>
    <label class="custom-control custom-control-primary custom-radio">
      <input class="custom-control-input" name="aspectRatio" type="radio" value="1.3333333333333333">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-label">Aspect ratio 4:3</span>
    </label>
    <label class="custom-control custom-control-primary custom-radio">
      <input class="custom-control-input" name="aspectRatio" type="radio" value="1">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-label">Aspect ratio 1:1</span>
    </label>
    <label class="custom-control custom-control-primary custom-radio">
      <input class="custom-control-input" name="aspectRatio" type="radio" value="NaN" checked="checked">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-label">None</span>
    </label>
  </div>
</div>
